In [1]:
import pandas as pd
from blsconnect import RequestBLS, bls_search
import os

In [2]:
MY_API_KEY=os.environ.get("BLS_KEY")

In [3]:
MY_API_KEY

'3720f9e8e343466c823eaf5891ff4629'

In [12]:
bls = RequestBLS(key=MY_API_KEY)

# Get seasonally-adjusted unemployment rates for Florida, Georgia, and all U.S.
series_names = bls_search(data="U3",
                          state=["FL", "GA", "US"],
                          sa=True)

df = bls.series(series_names,
                start_year=2010,
                end_year=2019)

df.keys()

Index(['year', 'period', 'periodName', 'LASST120000000000003',
       'LASST130000000000003', 'LNS14000000'],
      dtype='object')

In [9]:
df.LASST120000000000003.head()

0    11.3
1    11.2
2    11.2
3    11.1
4    11.0
Name: LASST120000000000003, dtype: float64

In [10]:
df.head()

,year,period,periodName,LASST120000000000003,LASST130000000000003,LNS14000000
0,2010,M01,January,11.3,10.5,9.8
1,2010,M02,February,11.2,10.6,9.8
2,2010,M03,March,11.2,10.6,9.9
3,2010,M04,April,11.1,10.5,9.9
4,2010,M05,May,11.0,10.4,9.6