In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import requests
import scipy as sc
import datapungi_fed as dpf
from census import Census
from us import states 
from config_fred import fred_key
import zipfile, os

census_key = os.environ.get("CENSUS")
gkey = os.environ.get("GKEY")
data = dpf.data(fred_key)
c = Census(census_key)

## Metrics:
- [x] GDP 
- [x] GNP
- [x] UMP Rate
- [x] Total Spending
- [x] Cap Utilization Rate
- [ ] Solow Residual
- [ ] Efficiency
- [ ] Standard of Living
- [ ] Human Development Index

In [3]:
unemployment_rate = data('UNRATE')
gdp = data('gdpc1') #real gdp; billions 
gnp = data('gnp')
pce = data('pce') # personal consumption expenditures
tcu = data('tcu') # cap utliziation rate
cpi = data('CPALTT01USM657N') #consumer price index all US items
gini_fred = data('sipovginiusa')
cocd = data('K1CTOTL1CD000') # cost of consumer durables (current-cost net stock of  consumer durable goods)
gnp

                  gnp
date
1947-01-01    244.142
1947-04-01    247.063
1947-07-01    250.716
1947-10-01    260.981
1948-01-01    267.133
...               ...
2019-04-01  21601.036
2019-07-01  21820.080
2019-10-01  22028.479
2020-01-01  21804.322
2020-04-01  19671.986

[294 rows x 1 columns]

In [4]:
# unzipped_file = zipfile.ZipFile('Resources/FlatFiles.ZIP','r')
# pd.read_csv(unzipped_file.open('FixedAssets.txt'))

In [6]:
it_all = c.acs5.tables()
list_o_dicks = []
for var in it_all:
    if 'INCOME' in var['description'] and 'UNEMPLOYMENT' in var['description']:
        list_o_dicks.append(var)

print(len(list_o_dicks))
list_o_dicks

0

[]