In [20]:
%matplotlib notebook

In [21]:
# Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

In [22]:
# Employment by Industry files
employment_women_path = "Lesly_Resources/Employment_Level_Women.csv"
employment_men_path = "Lesly_Resources/Employment_Level_Men.csv"
federal_path = "Lesly_Resources/FederalMinimumWageIncreases_1968-2019.csv"
# Read csv files
employment_women = pd.read_csv(employment_women_path)
employment_men = pd.read_csv(employment_men_path)
federal_wages = pd.read_csv(federal_path)

In [23]:
# Creating DataFrame
female_df = pd.DataFrame(employment_women)
female_df.head()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,1968,27114,27426,27572,27573,28022,27998,27856,27754,28002,28001.0,28189.0,28199.0
1,1969,28294,28612,28687,28831,28805,29140,29245,29289,29293,29488.0,29508.0,29685.0
2,1970,29668,29609,29666,29850,29489,29586,29819,29774,29570,29830.0,29700.0,29661.0
3,1971,29904,29778,29677,29703,29758,29606,29769,29983,30126,30266.0,30482.0,30619.0
4,1972,30881,30934,31078,31095,31209,31137,31201,31370,31345,31420.0,31626.0,31792.0

In [24]:
# Adding a "Gender" Column 
female_df["Gender"] = "Female"
female_df.head()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Gender
0,1968,27114,27426,27572,27573,28022,27998,27856,27754,28002,28001.0,28189.0,28199.0,Female
1,1969,28294,28612,28687,28831,28805,29140,29245,29289,29293,29488.0,29508.0,29685.0,Female
2,1970,29668,29609,29666,29850,29489,29586,29819,29774,29570,29830.0,29700.0,29661.0,Female
3,1971,29904,29778,29677,29703,29758,29606,29769,29983,30126,30266.0,30482.0,30619.0,Female
4,1972,30881,30934,31078,31095,31209,31137,31201,31370,31345,31420.0,31626.0,31792.0,Female

In [25]:
male_df = pd.DataFrame(employment_men)
male_df.head()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,1968,47586,47803,47807,47988,48085,48184,48231,48289,48170,48223.0,48305.0,48579.0
1,1969,48511,48715,48680,48692,48607,48740,48714,48961,48957,48957.0,49033.0,49055.0
2,1970,49112,49089,49197,49080,49075,48827,48907,48850,48928,48855.0,48950.0,48933.0
3,1971,48960,48922,48911,49284,49381,49151,49536,49556,49563,49652.0,49815.0,49852.0
4,1972,50078,50174,50495,50560,50678,50946,51029,51208,51198,51196.0,51364.0,51608.0

In [26]:
# Adding a "Gender" Column 
male_df["Gender"] = "Male"
male_df.head()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Gender
0,1968,47586,47803,47807,47988,48085,48184,48231,48289,48170,48223.0,48305.0,48579.0,Male
1,1969,48511,48715,48680,48692,48607,48740,48714,48961,48957,48957.0,49033.0,49055.0,Male
2,1970,49112,49089,49197,49080,49075,48827,48907,48850,48928,48855.0,48950.0,48933.0,Male
3,1971,48960,48922,48911,49284,49381,49151,49536,49556,49563,49652.0,49815.0,49852.0,Male
4,1972,50078,50174,50495,50560,50678,50946,51029,51208,51198,51196.0,51364.0,51608.0,Male

In [27]:
combined_gender = pd.concat([female_df, male_df])
combined_gender.head()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Gender
0,1968,27114,27426,27572,27573,28022,27998,27856,27754,28002,28001.0,28189.0,28199.0,Female
1,1969,28294,28612,28687,28831,28805,29140,29245,29289,29293,29488.0,29508.0,29685.0,Female
2,1970,29668,29609,29666,29850,29489,29586,29819,29774,29570,29830.0,29700.0,29661.0,Female
3,1971,29904,29778,29677,29703,29758,29606,29769,29983,30126,30266.0,30482.0,30619.0,Female
4,1972,30881,30934,31078,31095,31209,31137,31201,31370,31345,31420.0,31626.0,31792.0,Female

In [28]:
combined_gender.count()

Year      106
Jan       106
Feb       106
Mar       106
Apr       106
May       106
Jun       106
Jul       106
Aug       106
Sep       106
Oct       104
Nov       104
Dec       104
Gender    106
dtype: int64

In [29]:
clean_df = combined_gender.dropna(how="any")
clean_df.count()
clean_df.head()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Gender
0,1968,27114,27426,27572,27573,28022,27998,27856,27754,28002,28001.0,28189.0,28199.0,Female
1,1969,28294,28612,28687,28831,28805,29140,29245,29289,29293,29488.0,29508.0,29685.0,Female
2,1970,29668,29609,29666,29850,29489,29586,29819,29774,29570,29830.0,29700.0,29661.0,Female
3,1971,29904,29778,29677,29703,29758,29606,29769,29983,30126,30266.0,30482.0,30619.0,Female
4,1972,30881,30934,31078,31095,31209,31137,31201,31370,31345,31420.0,31626.0,31792.0,Female

## Data Visuals

In [30]:
var = pd.DataFrame(pd.pivot_table(clean_df,columns=['Gender','Year'],aggfunc = np.mean))
test = var.groupby(['Year','Gender']).mean().reset_index()
sns.lineplot(data = test,x = 'Year',y = 0,hue = 'Gender')
plt.title('Employment Level per Gender')
plt.ylabel('Employment Level per Thousands');

In [31]:
emp_df = clean_df.copy()
emp_df.head()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Gender
0,1968,27114,27426,27572,27573,28022,27998,27856,27754,28002,28001.0,28189.0,28199.0,Female
1,1969,28294,28612,28687,28831,28805,29140,29245,29289,29293,29488.0,29508.0,29685.0,Female
2,1970,29668,29609,29666,29850,29489,29586,29819,29774,29570,29830.0,29700.0,29661.0,Female
3,1971,29904,29778,29677,29703,29758,29606,29769,29983,30126,30266.0,30482.0,30619.0,Female
4,1972,30881,30934,31078,31095,31209,31137,31201,31370,31345,31420.0,31626.0,31792.0,Female

In [47]:
year_df = emp_df.groupby(['Year']).sum()
year_df['Annual']=year_df(['Year']).sum(axis=0)
year_df.head()

TypeError: 'DataFrame' object is not callable

In [33]:
# Combine Year df with Federal Minimum Wage
combined_data = pd.merge(year_df, federal_wages, on="Year")

In [34]:
combined_data.head()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Federal Minimum Wage
0,1968,74700,75229,75379,75561,76107,76182,76087,76043,76172,76224.0,76494.0,76778.0,$1.60
1,1969,76805,77327,77367,77523,77412,77880,77959,78250,78250,78445.0,78541.0,78740.0,$1.60
2,1970,78780,78698,78863,78930,78564,78413,78726,78624,78498,78685.0,78650.0,78594.0,$1.60
3,1971,78864,78700,78588,78987,79139,78757,79305,79539,79689,79918.0,80297.0,80471.0,$1.60
4,1972,80959,81108,81573,81655,81887,82083,82230,82578,82543,82616.0,82990.0,83400.0,$1.60

In [40]:
year_df = combined_data

In [41]:
x_axis=list(year_df["Year"])
y_axis=list(year_df["Jan"])
#y2_axis=year_df["another coulumn"]
type(x_axis)

list

In [42]:
plt.plot(x_axis, y_axis)
#plt.plot

In [43]:
wage_increase['Year'].value_counts().plot(kind='bar', figsize=(10,7), rot=0)
# plt.xlabel('Year', labelpad=16, fontsize=14)
# plt.ylabel('Federal Minimum Wage', labelpad=16, fontsize=13)
# plt.title('Test', fontsize=14);

NameError: name 'wage_increase' is not defined