In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import requests
import scipy as sc
import numpy as np
import os 
#file2load = 'C:\Users\13106\Desktop\bootcamp\Project_one\ProjectOne\Minimum_wage_data'
min_wage_data = pd.read_csv('Minimum_wage_data_RevB.csv', encoding = 'iso-8859-1')
min_wage_data_df = pd.DataFrame(min_wage_data)
min_wage_data_df.head(10)

,Year,State,Table_Data,Footnote,High.Value,Low.Value,CPI.Average,High.2018,Low.2018
0,1968,Alabama,...,NaN,0.00000,0.00000,34.783333,0.00,0.00
1,1968,Alaska,2.1,NaN,2.10000,2.10000,34.783333,15.12,15.12
2,1968,Arizona,18.72 - 26.40/wk(b),(b),0.66000,0.46800,34.783333,4.75,3.37
3,1968,Arkansas,1.25/day(b),(b),0.15625,0.15625,34.783333,1.12,1.12
4,1968,California,1.65(b),(b),1.65000,1.65000,34.783333,11.88,11.88
5,1968,Colorado,1.00 - 1.25(b),(b),1.25000,1.00000,34.783333,9.00,7.20
6,1968,Connecticut,1.4,NaN,1.40000,1.40000,34.783333,10.08,10.08
7,1968,Delaware,1.25,NaN,1.25000,1.25000,34.783333,9.00,9.00
8,1968,District of Columbia,1.25 - 1.40,NaN,1.40000,1.25000,34.783333,10.08,9.00
9,1968,Federal (FLSA),$1.15 & $1.60,NaN,1.60000,1.15000,34.783333,11.52,8.28

In [2]:
min_wage_data_df['State'].value_counts()

District of Columbia    50
Kentucky                50
Connecticut             50
Alaska                  50
Colorado                50
Federal (FLSA)          50
Georgia                 50
Nevada                  50
North Dakota            50
Utah                    50
Mississippi             50
Idaho                   50
Puerto Rico             50
Alabama                 50
New Hampshire           50
Hawaii                  50
New Jersey              50
Iowa                    50
Kansas                  50
North Carolina          50
Maryland                50
Minnesota               50
Tennessee               50
Rhode Island            50
Guam                    50
Maine                   50
Oregon                  50
Pennsylvania            50
Nebraska                50
Virginia                50
Missouri                50
U.S. Virgin Islands     50
Washington              50
New Mexico              50
Wisconsin               50
Vermont                 50
Delaware                50
Illinois                50
Massachusetts           50
Indiana                 50
New York                50
Ohio                    50
Texas                   50
Louisiana               50
Florida                 50
Wyoming                 50
West Virginia           50
Oklahoma                50
South Carolina          50
California              50
Arkansas                50
Montana                 50
Michigan                50
South Dakota            50
Arizona                 50
Name: State, dtype: int64

In [3]:
len(min_wage_data_df['State'])

2750

In [4]:
min_wage_data_df.State.unique()
#list of states and territories recorded

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Federal (FLSA)', 'Florida', 'Georgia', 'Guam', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Puerto Rico', 'Rhode Island', 'South Carolina',
       'South Dakota', 'Tennessee', 'Texas', 'U.S. Virgin Islands',
       'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia',
       'Wisconsin', 'Wyoming'], dtype=object)

In [5]:
len(min_wage_data_df.State.unique())
#how many states or territories are measured

55

In [8]:
#highest minimum wage in dataset 
high2018 = min_wage_data_df['High.2018']
highwage = high2018.max()
highwage

15.12

In [9]:
#alaska in 2018 has highest min wage of all datapoints
min_wage_data_df.loc[min_wage_data_df['High.2018'] == 15.12,'State']

1    Alaska
Name: State, dtype: object

In [13]:
lowvalue = min_wage_data_df['Low.Value']
lowest_min_wage = lowvalue.min()
lowest_min_wage

0.0