In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [44]:
saemp69 = pd.read_csv('SAEMP25S__ALL_AREAS_1969_2001.csv')
saemp98 = pd.read_csv('SAEMP25N__ALL_AREAS_1998_2019.csv')
saemp69.index.size
saemp98.index.size

7084

In [20]:
saemp69.head()
#SAEMP_98_19.head()

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1969,1970,...,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001
0,"""00000""",United States,,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,91053200,91277600,...,138166100,140774400,144196600,147915800,151056200,154541200,158481200,161531300,165370800,165522200
1,"""00000""",United States,,SAEMP25S,20.0,...,Wage and salary employment,Number of jobs,78722000,78793000,...,115666000,117717000,120568000,123412000,125711000,128681000,131920000,134766000,137610000,137334000
2,"""00000""",United States,,SAEMP25S,40.0,...,Proprietors employment,Number of jobs,12331200,12484600,...,22500100,23057400,23628600,24503800,25345200,25860200,26561200,26765300,27760800,28188200
3,"""00000""",United States,,SAEMP25S,50.0,...,Farm proprietors employment,Number of jobs,2751000,2717000,...,2191000,2273000,2245000,2240000,2205000,2212000,2249000,2237000,2224000,2190000
4,"""00000""",United States,,SAEMP25S,60.0,...,Nonfarm proprietors employment 2/,Number of jobs,9580200,9767600,...,20309100,20784400,21383600,22263800,23140200,23648200,24312200,24528300,25536800,25998200

In [32]:
saemp69[(saemp69['LineCode'] == 10) & (saemp69['GeoName'] == 'United States')][['1998','1999','2000','2001']]

        1998       1999       2000       2001
0  158481200  161531300  165370800  165522200

In [33]:
saemp98[(saemp98['LineCode'] == 10) & (saemp98['GeoName'] == 'United States')][['1998','1999','2000','2001']]

        1998       1999       2000       2001
0  158481200  161531300  165370800  165522200

In [40]:
test_merge = pd.merge(saemp69,saemp98,how = 'outer', on = 'LineCode')
test_merge.columns
overlapped = [ 'GeoFIPS_y', 'GeoName_y',
       'Region_y', 'TableName_y', 'IndustryClassification_y', 'Description_y',
       'Unit_y', '1998_y', '1999_y', '2000_y', '2001_y']
for title in overlapped:
    del test_merge[title]

test_merge.columns

Index(['GeoFIPS_x', 'GeoName_x', 'Region_x', 'TableName_x', 'LineCode',
       'IndustryClassification_x', 'Description_x', 'Unit_x', '1969', '1970',
       '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979',
       '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988',
       '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
       '1998_x', '1999_x', '2000_x', '2001_x', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019'],
      dtype='object')

In [57]:
test_merge = test_merge.dropna()
test_merge['GeoName_x'].value_counts()
by_geoname_us = test_merge

Massachusetts           1260
Nebraska                1260
Montana                 1260
Rhode Island            1260
New Jersey              1260
Tennessee               1260
Mississippi             1260
Maine                   1260
Virginia                1260
Florida                 1260
United States           1260
Southeast               1260
Ohio                    1260
Utah                    1260
Kentucky                1260
Alabama                 1260
Louisiana               1260
New York                1260
Kansas                  1260
Illinois                1260
Hawaii                  1260
Iowa                    1260
Delaware                1260
Idaho                   1260
Oklahoma                1260
Wisconsin               1260
Arizona                 1260
District of Columbia    1260
Oregon                  1260
South Carolina          1260
Rocky Mountain          1260
New England             1260
Alaska                  1260
Arkansas                1260
North Dakota            1260
Plains                  1260
Maryland                1260
New Mexico              1260
California              1260
Washington              1260
Mideast                 1260
Michigan                1260
Indiana                 1260
Georgia                 1260
Texas                   1260
Pennsylvania            1260
Great Lakes             1260
North Carolina          1260
South Dakota            1260
Colorado                1260
Missouri                1260
West Virginia           1260
Far West                1260
Nevada                  1260
Vermont                 1260
Connecticut             1260
New Hampshire           1260
Southwest               1260
Minnesota               1260
Wyoming                 1260
Name: GeoName_x, dtype: int64