In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import requests
from pprint import pprint
from pybea.client import BureauEconomicAnalysisClient
import datapungibea as dpb
from datetime import datetime
bls_key = 'a221097743424e50a9640418bcff10bb'

#initialize the new Client
data =dpb.data('165CE351-F1E7-4289-966F-C6002ACBD851')
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [3]:
saemp69 = pd.read_csv('SAEMP25S__ALL_AREAS_1969_2001.csv')
saemp98 = pd.read_csv('SAEMP25N__ALL_AREAS_1998_2019.csv')

In [42]:
saemp69.Description.value_counts()

   Construction                                    60
    Legal services                                 60
    Railroad transportation                        60
     Printing and publishing                       60
    Water transportation                           60
    Apparel and accessory stores                   60
    Social services 5/                             60
     Transportation services                       60
   Services                                        60
    Personal services                              60
     Lumber and wood products                      60
     Combined real estate, insurance, etc. 4/      60
     Security and commodity brokers                60
     Motor vehicles and equipment                  60
    General building contractors                   60
  Private nonfarm employment                       60
    Private households                             60
     Petroleum and coal products                   60
    Automotive repair, services, and parking       60
     Real estate                                   60
     Food and kindred products                     60
    Local government                               60
    Heavy construction contractors                 60
    Hotels and other lodging places                60
     Fishing                                       60
    Agricultural services                          60
  Farm proprietors employment                      60
     Stone, clay, and glass products               60
     Rubber and miscellaneous plastics products    60
  Nonfarm proprietors employment 2/                60
    General merchandise stores                     60
    Building materials and garden equipment        60
    Durable goods manufacturing                    60
     Chemicals and allied products                 60
    Museums, botanical, zoological gardens         60
     Ordnance 3/                                   60
    Communications                                 60
    Eating and drinking places                     60
  Government and government enterprises            60
     Textile mill products                         60
     Other transportation equipment                60
     Leather and leather products                  60
    State government                               60
    Special trade contractors                      60
    Miscellaneous repair services                  60
    Other transportation                           60
    Forestry and fishing                           60
    Automotive dealers and service stations        60
     Holding and other investment offices          60
   Manufacturing                                   60
   Wholesale trade                                 60
 Nonfarm employment                                60
   State and local                                 60
     Miscellaneous manufacturing industries        60
    Educational services                           60
     Apparel and other textile products            60
    Miscellaneous retail                           60
     Fabricated metal products                     60
    Nondurable goods manufacturing                 60
     Industrial machinery and equipment            60
    Engineering and management services 6/         60
   Agricultural services, forestry, and fishing    60
     Tobacco products                              60
     Primary metal industries                      60
     Insurance carriers                            60
     Electronic and other electric equipment       60
   Mining                                          60
    Metal mining                                   60
    Electric, gas, and sanitary services           60
   Transportation and public utilities             60
    Motion pictures                                60
     Paper and allied products                     60
 Proprietors employment                            60
     Forestry                                      60
   Finance, insurance, and real estate             60
    Coal mining                                    60
     Insurance agents, brokers, and services       60
    Home furniture and furnishings stores          60
    Depository and nondepository institutions      60
   Military                                        60
     Pipelines, except natural gas                 60
    Oil and gas extraction                         60
    Miscellaneous services                         60
    Business services                              60
    Membership organizations                       60
     Furniture and fixtures                        60
   Retail trade                                    60
 Wage and salary employment                        60
    Nonmetallic minerals, except fuels             60
   Federal civilian                                60
 Farm employment                                   60
Total employment (number of jobs)                  60
    Health services                                60
     Instruments and related products              60
    Trucking and warehousing                       60
    Food stores                                    60
     Transportation by air                         60
    Other finance, insurance, and real estate      60
     Local and interurban passenger transit        60
    Amusement and recreation services              60
Name: Description, dtype: int64

In [5]:
saemp98.iloc[0:20,:]

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1998,1999,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,"""00000""",United States,,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,158481200,161531300,...,172901700,176091700,178979700,182325100,186233800,190325800,193378900,196337100,200284200,203809500
1,"""00000""",United States,,SAEMP25N,20.0,...,Wage and salary employment,Number of jobs,131920000,134766000,...,135393000,136918000,139619000,141932000,144722000,147641000,149913000,151892000,154365000,156445000
2,"""00000""",United States,,SAEMP25N,40.0,...,Proprietors employment,Number of jobs,26561200,26765300,...,37508700,39173700,39360700,40393100,41511800,42684800,43465900,44445100,45919200,47364500
3,"""00000""",United States,,SAEMP25N,50.0,...,Farm proprietors employment,Number of jobs,2249000,2237000,...,1882000,1876000,1844000,1856000,1840000,1834000,1824000,1803000,1792000,1787000
4,"""00000""",United States,,SAEMP25N,60.0,...,Nonfarm proprietors employment 2/,Number of jobs,24312200,24528300,...,35626700,37297700,37516700,38537100,39671800,40850800,41641900,42642100,44127200,45577500
5,"""00000""",United States,,SAEMP25N,70.0,111-112,Farm employment,Number of jobs,3129000,3150000,...,2636000,2639000,2623000,2645000,2643000,2651000,2644000,2622000,2605000,2601000
6,"""00000""",United States,,SAEMP25N,80.0,...,Nonfarm employment,Number of jobs,155352200,158381300,...,170265700,173452700,176356700,179680100,183590800,187674800,190734900,193715100,197679200,201208500
7,"""00000""",United States,,SAEMP25N,90.0,113-814,Private nonfarm employment,Number of jobs,133210200,135940300,...,145593700,149162700,152252700,155625100,159535800,163525800,166424900,169284100,173122200,176472500
8,"""00000""",United States,,SAEMP25N,100.0,113-115,"Forestry, fishing, and related activities",Number of jobs,927100,894100,...,852400,856600,885400,909100,941000,917900,936200,940300,961100,984100
9,"""00000""",United States,,SAEMP25N,101.0,113,Forestry and logging,Number of jobs,168100,168700,...,111600,116800,134600,138000,133000,141300,138800,123900,126300,119900
10,"""00000""",United States,,SAEMP25N,102.0,114,"Fishing, hunting and trapping",Number of jobs,134700,125000,...,105600,97800,99000,104000,104800,94900,100200,95900,99200,101400
11,"""00000""",United States,,SAEMP25N,103.0,115,Support activities for agriculture and for...,Number of jobs,624300,600400,...,635200,642000,651800,667100,703200,681700,697200,720500,735600,762800
12,"""00000""",United States,,SAEMP25N,200.0,21,"Mining, quarrying, and oil and gas extraction",Number of jobs,829000,787200,...,1269000,1244000,1551200,1607000,1597500,1553300,1452200,1320900,1179500,1127100
13,"""00000""",United States,,SAEMP25N,201.0,211,Oil and gas extraction,Number of jobs,361900,349900,...,695800,605100,787900,876300,839900,873700,886000,685300,543800,507000
14,"""00000""",United States,,SAEMP25N,202.0,212,Mining (except oil and gas),Number of jobs,273400,261500,...,248500,257700,306600,275700,267700,264600,252200,271400,246500,234300
15,"""00000""",United States,,SAEMP25N,203.0,213,Support activities for mining,Number of jobs,193700,175800,...,324700,381200,456700,455000,489900,415000,314000,364200,389200,385800
16,"""00000""",United States,,SAEMP25N,300.0,22,Utilities,Number of jobs,625900,622000,...,582200,575500,577600,578300,580600,597400,622000,590800,590700,577800
17,"""00000""",United States,,SAEMP25N,400.0,23,Construction,Number of jobs,8888800,9245300,...,8770700,8744800,8933800,9237800,9564300,9844900,10322100,10558000,10987800,11282500
18,"""00000""",United States,,SAEMP25N,401.0,236,Construction of buildings,Number of jobs,2006800,2135000,...,1920200,1847000,1929500,1994300,2077100,2266900,2320700,2355400,2482400,2550600
19,"""00000""",United States,,SAEMP25N,402.0,237,Heavy and civil engineering construction,Number of jobs,956200,1008100,...,977300,981600,1025000,1037000,1069800,1076600,1119200,1163800,1216300,1260300

In [23]:
sn = 'LNS12000000'
yearX = 1948
yearY = 1967

payload = {'seriesid':sn,
          'startyear':yearX,
          'endyear':yearY,
          'registrationkey':bls_key}
#url = f'https://api.bls.gov/publicAPI/v2/timeseries/data/json?registrationkey={bls_key}&seriesid={sn}&startyear={yearX}&endyear={yearY}'
url = f'https://api.bls.gov/publicAPI/v2/timeseries/data/json?{payload}'
response = requests.post(url,payload).json()

In [24]:
df_48_67 = pd.DataFrame(response['Results']['series'][0]['data'])

In [20]:
df_08_20=df_08_20[['year','period','periodName','value']]
df_08_20

     year period periodName   value
0    2020    M09  September  147563
1    2020    M08     August  147288
2    2020    M07       July  143532
3    2020    M06       June  142182
4    2020    M05        May  137242
..    ...    ...        ...     ...
148  2008    M05        May  145908
149  2008    M04      April  146132
150  2008    M03      March  146086
151  2008    M02   February  146156
152  2008    M01    January  146378

[153 rows x 4 columns]

In [21]:
df_88_07 = df_88_07[['year','period','periodName','value']]
df_88_07

     year period periodName   value
0    2007    M12   December  146273
1    2007    M11   November  146595
2    2007    M10    October  145946
3    2007    M09  September  146244
4    2007    M08     August  145682
..    ...    ...        ...     ...
235  1988    M05        May  114292
236  1988    M04      April  114650
237  1988    M03      March  114037
238  1988    M02   February  114227
239  1988    M01    January  114016

[240 rows x 4 columns]

In [22]:
df_68_87 =df_68_87[['year','period','periodName','value']]
df_68_87

     year period periodName   value
0    1987    M12   December  113793
1    1987    M11   November  113505
2    1987    M10    October  113282
3    1987    M09  September  112909
4    1987    M08     August  113057
..    ...    ...        ...     ...
235  1968    M05        May   76107
236  1968    M04      April   75561
237  1968    M03      March   75379
238  1968    M02   February   75229
239  1968    M01    January   74700

[240 rows x 4 columns]

In [27]:
df_48_67 = df_48_67[['year','period','periodName','value']]
df_48_67

     year period periodName  value
0    1967    M12   December  75473
1    1967    M11   November  75125
2    1967    M10    October  75051
3    1967    M09  September  74854
4    1967    M08     August  74767
..    ...    ...        ...    ...
235  1948    M05        May  57854
236  1948    M04      April  58291
237  1948    M03      March  57671
238  1948    M02   February  58196
239  1948    M01    January  58061

[240 rows x 4 columns]

In [28]:
combined_bls_data = pd.concat([df_08_20,df_88_07,df_68_87,df_48_67])
combined_bls_data = combined_bls_data.sort_values(by = ['year','period'])
combined_bls_data

     year period periodName   value
239  1948    M01    January   58061
238  1948    M02   February   58196
237  1948    M03      March   57671
236  1948    M04      April   58291
235  1948    M05        May   57854
..    ...    ...        ...     ...
4    2020    M05        May  137242
3    2020    M06       June  142182
2    2020    M07       July  143532
1    2020    M08     August  147288
0    2020    M09  September  147563

[873 rows x 4 columns]

In [34]:
# fig, ax = plt.subplots( figsize = (10,10))
# ax.plot(combined_bls_data.year,combined_bls_data.value)
# ax.set_xticks([]);

In [36]:
combined_bls_data[['year','value']].plot()

TypeError: no numeric data to plot