In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
saemp69 = pd.read_csv('SAEMP25S__ALL_AREAS_1969_2001.csv')
saemp98 = pd.read_csv('SAEMP25N__ALL_AREAS_1998_2019.csv')
saemp69.index.size
saemp98.index.size

7084

In [3]:
saemp69.head()
#SAEMP_98_19.head()

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1969,1970,...,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001
0,"""00000""",United States,,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,91053200,91277600,...,138166100,140774400,144196600,147915800,151056200,154541200,158481200,161531300,165370800,165522200
1,"""00000""",United States,,SAEMP25S,20.0,...,Wage and salary employment,Number of jobs,78722000,78793000,...,115666000,117717000,120568000,123412000,125711000,128681000,131920000,134766000,137610000,137334000
2,"""00000""",United States,,SAEMP25S,40.0,...,Proprietors employment,Number of jobs,12331200,12484600,...,22500100,23057400,23628600,24503800,25345200,25860200,26561200,26765300,27760800,28188200
3,"""00000""",United States,,SAEMP25S,50.0,...,Farm proprietors employment,Number of jobs,2751000,2717000,...,2191000,2273000,2245000,2240000,2205000,2212000,2249000,2237000,2224000,2190000
4,"""00000""",United States,,SAEMP25S,60.0,...,Nonfarm proprietors employment 2/,Number of jobs,9580200,9767600,...,20309100,20784400,21383600,22263800,23140200,23648200,24312200,24528300,25536800,25998200

In [4]:
saemp69[(saemp69['LineCode'] == 10) & (saemp69['GeoName'] == 'United States')][['1998','1999','2000','2001']]

        1998       1999       2000       2001
0  158481200  161531300  165370800  165522200

In [5]:
saemp98[(saemp98['LineCode'] == 10) & (saemp98['GeoName'] == 'United States')][['1998','1999','2000','2001']]

        1998       1999       2000       2001
0  158481200  161531300  165370800  165522200

In [6]:
test_merge = pd.merge(saemp69,saemp98,how = 'outer', on = 'LineCode')
test_merge.columns
overlapped = [ 'GeoFIPS_y', 'GeoName_y',
       'Region_y', 'TableName_y', 'IndustryClassification_y', 'Description_y',
       'Unit_y', '1998_y', '1999_y', '2000_y', '2001_y']
for title in overlapped:
    del test_merge[title]

test_merge.columns

Index(['GeoFIPS_x', 'GeoName_x', 'Region_x', 'TableName_x', 'LineCode',
       'IndustryClassification_x', 'Description_x', 'Unit_x', '1969', '1970',
       '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979',
       '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988',
       '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
       '1998_x', '1999_x', '2000_x', '2001_x', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019'],
      dtype='object')

In [16]:
test_merge = test_merge.dropna()
test_merge['GeoName_x'].value_counts()
by_geoname_us = test_merge.groupby('GeoName_x')
by_geoname_us.head()

,GeoFIPS_x,GeoName_x,Region_x,TableName_x,LineCode,IndustryClassification_x,Description_x,Unit_x,1969,1970,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,"""00000""",United States,,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,91053200,91277600,...,172901700,176091700,178979700,182325100,186233800,190325800,193378900,196337100,200284200,203809500
1,"""00000""",United States,,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,91053200,91277600,...,2460298,2497933,2503678,2523338,2551872,2587451,2619796,2649260,2691497,2735740
2,"""00000""",United States,,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,91053200,91277600,...,443904,450364,459222,461110,461327,461649,457524,455472,455008,459788
3,"""00000""",United States,,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,91053200,91277600,...,3181571,3239045,3295537,3371219,3448173,3547627,3645936,3740960,3853621,3969347
4,"""00000""",United States,,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,91053200,91277600,...,1541272,1561948,1565142,1569249,1587414,1610805,1629497,1640411,1657511,1673743
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3540,"""98000""",Far West,8,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,12295133,12312679,...,172901700,176091700,178979700,182325100,186233800,190325800,193378900,196337100,200284200,203809500
3541,"""98000""",Far West,8,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,12295133,12312679,...,2460298,2497933,2503678,2523338,2551872,2587451,2619796,2649260,2691497,2735740
3542,"""98000""",Far West,8,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,12295133,12312679,...,443904,450364,459222,461110,461327,461649,457524,455472,455008,459788
3543,"""98000""",Far West,8,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,12295133,12312679,...,3181571,3239045,3295537,3371219,3448173,3547627,3645936,3740960,3853621,3969347
3544,"""98000""",Far West,8,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,12295133,12312679,...,1541272,1561948,1565142,1569249,1587414,1610805,1629497,1640411,1657511,1673743

In [12]:
saemp69[saemp69['LineCode'] == 10]

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1969,1970,...,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001
0,"""00000""",United States,,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,91053200,91277600,...,138166100,140774400,144196600,147915800,151056200,154541200,158481200,161531300,165370800,165522200
100,"""01000""",Alabama,5,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,1411234,1412928,...,2097425,2158752,2180001,2241551,2275108,2321253,2361892,2378217,2392225,2376053
200,"""02000""",Alaska,8,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,143816,149006,...,350764,358161,363344,365083,369095,374497,382166,381307,389734,394565
300,"""04000""",Arizona,6,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,711344,746653,...,1925190,2010588,2141302,2257829,2387542,2497165,2616288,2695892,2801510,2829002
400,"""05000""",Arkansas,5,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,799917,805274,...,1255030,1301238,1329036,1382418,1405330,1427163,1445536,1460374,1482449,1482587
500,"""06000""",California,8,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,9032738,9056897,...,16390983,16367123,16540724,16939791,17341994,17667115,18432865,18852334,19228895,19341458
600,"""08000""",Colorado,7,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,1001380,1031727,...,2134517,2233513,2345496,2424617,2519426,2629239,2732491,2808435,2918002,2941583
700,"""09000""",Connecticut,1,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,1417073,1414365,...,1903803,1924516,1906480,1943744,1974521,2000349,2036825,2070018,2118177,2125253
800,"""10000""",Delaware,2,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,270578,274587,...,413155,420651,424325,442453,452685,464460,476426,491018,503458,502735
900,"""11000""",District of Columbia,2,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,676177,671811,...,752149,750378,729620,718487,703615,698730,698434,711478,735304,741793
1000,"""12000""",Florida,5,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,2856879,2966065,...,6762815,7002451,7234337,7494170,7739729,8005136,8317201,8577884,8881279,8938947
1100,"""13000""",Georgia,5,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,2119105,2120778,...,3698046,3866163,4019921,4188040,4333367,4448701,4607959,4728750,4860810,4871814
1200,"""15000""",Hawaii,8,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,415912,433555,...,746137,741780,736771,734039,733396,733761,738175,738111,749439,752548
1300,"""16000""",Idaho,7,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,315337,324150,...,585584,611603,646775,667062,688744,708389,732684,747188,776910,783399
1400,"""17000""",Illinois,3,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,5179110,5143772,...,6351074,6440520,6610811,6772862,6874745,6980621,7139373,7218569,7357491,7309738
1500,"""18000""",Indiana,3,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,2326793,2290880,...,3120633,3197238,3287330,3379373,3418009,3476263,3543278,3596542,3648148,3588944
1600,"""19000""",Iowa,4,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,1289307,1294601,...,1669175,1691565,1724805,1784926,1815405,1841110,1877486,1896080,1915254,1902198
1700,"""20000""",Kansas,4,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,1029008,1017405,...,1501541,1524596,1551442,1600063,1632161,1676805,1723552,1740420,1760312,1767601
1800,"""21000""",Kentucky,5,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,1331869,1336200,...,1949274,1992841,2034504,2109525,2141075,2188877,2223896,2264164,2306481,2283616
1900,"""22000""",Louisiana,5,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,1440191,1429432,...,2038051,2085583,2125502,2193968,2238770,2289998,2336386,2352801,2388668,2397993
2000,"""23000""",Maine,1,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,443449,445896,...,680841,691753,702752,704574,714237,727238,748614,762975,784039,787577
2100,"""24000""",Maryland,2,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,1679355,1702298,...,2635653,2658555,2705548,2765393,2806074,2870391,2935441,3007654,3092125,3119857
2200,"""25000""",Massachusetts,1,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,2678959,2679010,...,3481815,3547680,3615952,3648939,3712827,3802454,3896096,3962492,4070320,4075959
2300,"""26000""",Michigan,3,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,3639946,3558466,...,4751280,4811999,4984712,5141766,5247019,5329933,5383530,5485654,5621494,5526201
2400,"""27000""",Minnesota,4,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,1690875,1698995,...,2762016,2816645,2903666,2994740,3056007,3109004,3189396,3256931,3330936,3347326
2500,"""28000""",Mississippi,5,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,908677,916796,...,1233701,1286919,1334700,1365437,1389237,1415330,1445429,1469707,1476295,1455992
2600,"""29000""",Missouri,4,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,2215957,2203183,...,2957212,3040852,3112827,3196160,3255268,3327521,3385244,3422953,3470846,3451902
2700,"""30000""",Montana,7,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,297954,301051,...,455725,470150,494287,503532,519262,525616,535785,543115,552690,559924
2800,"""31000""",Nebraska,4,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,703747,715204,...,999204,1020980,1061466,1071231,1096704,1111371,1138369,1156816,1173756,1175112
2900,"""32000""",Nevada,8,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,243701,256145,...,776291,818727,898349,952615,1023515,1088804,1131237,1189071,1254358,1285310
3000,"""33000""",New Hampshire,1,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,334070,333695,...,628633,641906,665701,679441,695920,716703,743341,760763,783545,788168
3100,"""34000""",New Jersey,2,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,3061493,3124572,...,4170013,4197161,4231628,4296373,4351845,4412438,4500635,4571128,4748598,4777145
3200,"""35000""",New Mexico,6,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,394799,398899,...,796829,825122,856994,898187,908725,922830,937525,942297,964919,976506
3300,"""36000""",New York,2,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,8494052,8465868,...,9410147,9431043,9464935,9511472,9595379,9731824,9901394,10164527,10424526,10438676
3400,"""37000""",North Carolina,5,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,2457997,2468524,...,3963816,4086843,4201049,4354641,4458978,4602983,4708195,4802414,4891957,4855476
3500,"""38000""",North Dakota,4,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,273930,281458,...,387620,396886,411338,418075,425783,429892,434930,435651,440643,445433
3600,"""39000""",Ohio,3,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,4695425,4682839,...,5854116,5959798,6136451,6299654,6395002,6500115,6599132,6681355,6789300,6725753
3700,"""40000""",Oklahoma,6,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,1107254,1119772,...,1680022,1715718,1748232,1799650,1849559,1896861,1938705,1953349,1994373,2009183
3800,"""41000""",Oregon,8,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,920183,925933,...,1653649,1697791,1780620,1845372,1919606,1986426,2021755,2051144,2092153,2079058
3900,"""42000""",Pennsylvania,2,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,5249940,5226036,...,6216278,6256367,6323071,6422943,6477294,6584830,6657699,6764360,6905286,6915464
4000,"""44000""",Rhode Island,1,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,440080,440434,...,529175,533447,532959,536250,539724,545955,554761,566528,582589,585235
4100,"""45000""",South Carolina,5,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,1170440,1195991,...,1897465,1931459,1978983,2038053,2080349,2140787,2191440,2240690,2279819,2256571
4200,"""46000""",South Dakota,4,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,303105,304839,...,431189,442481,464396,472046,479226,484646,490715,501684,512377,511664
4300,"""47000""",Tennessee,5,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,1788719,1784919,...,2837263,2942948,3061304,3144656,3194784,3269258,3339584,3397301,3459310,3421028
4400,"""48000""",Texas,6,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,5005193,5045435,...,9482932,9780517,10098087,10439859,10737590,11165358,11541749,11761409,12138771,12284685
4500,"""49000""",Utah,7,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,443665,454612,...,978690,1025991,1102315,1150220,1217605,1269877,1309652,1338175,1380538,1391757
4600,"""50000""",Vermont,1,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,202578,205015,...,341722,349250,358528,361825,367074,372613,381006,389726,400963,403836
4700,"""51000""",Virginia,5,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,2147852,2157657,...,3657380,3730015,3813122,3902673,3983418,4081751,4167798,4261127,4399151,4417451
4800,"""53000""",Washington,8,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,1538783,1491143,...,2906917,2950534,3059952,3101334,3192307,3298010,3382924,3446900,3526778,3515729
4900,"""54000""",West Virginia,5,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,651782,659514,...,789331,801180,822272,838499,846838,858297,868370,868236,875561,872546
5000,"""55000""",Wisconsin,3,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,1943518,1953931,...,2893937,2949696,3040287,3119622,3170631,3225761,3287793,3350388,3413585,3403719
5100,"""56000""",Wyoming,7,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,157954,159384,...,279892,284727,297591,300567,303696,306691,310043,315198,324653,330130
5200,"""91000""",New England,1,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,5516209,5518415,...,7565989,7688552,7782372,7874773,8004303,8165312,8360643,8512502,8739633,8766028
5300,"""92000""",Mideast,2,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,19431595,19465172,...,23597395,23714155,23879127,24157121,24386892,24762673,25170029,25710165,26409297,26495670
5400,"""93000""",Great Lakes,3,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,17784792,17629888,...,22971040,23359251,24059591,24713277,25105406,25512693,25953106,26332508,26830018,26554355
5500,"""94000""",Plains,4,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,7505929,7515685,...,10707957,10934005,11229940,11537241,11760554,11980349,12239692,12410535,12604124,12601236
5600,"""95000""",Southeast,5,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,19084662,19254078,...,32179597,33186392,34134731,35253631,36086983,37049534,38013686,38801665,39694005,39630074
5700,"""96000""",Southwest,6,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,7218590,7310759,...,13884973,14331945,14844615,15395525,15883416,16482214,17034267,17352947,17899573,18099376
5800,"""97000""",Rocky Mountain,7,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,2216290,2270924,...,4434408,4625984,4886464,5045998,5248733,5439812,5620655,5752111,5952793,6006793
5900,"""98000""",Far West,8,SAEMP25S,10.0,...,Total employment (number of jobs),Number of jobs,12295133,12312679,...,22824741,22934116,23379760,23938234,24579913,25148613,26089122,26658867,27241357,27368668

In [13]:
saemp98[saemp98['LineCode'] == 10]

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1998,1999,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,"""00000""",United States,,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,158481200,161531300,...,172901700,176091700,178979700,182325100,186233800,190325800,193378900,196337100,200284200,203809500
118,"""01000""",Alabama,5,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,2361892,2378217,...,2460298,2497933,2503678,2523338,2551872,2587451,2619796,2649260,2691497,2735740
236,"""02000""",Alaska,8,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,382166,381307,...,443904,450364,459222,461110,461327,461649,457524,455472,455008,459788
354,"""04000""",Arizona,6,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,2616288,2695892,...,3181571,3239045,3295537,3371219,3448173,3547627,3645936,3740960,3853621,3969347
472,"""05000""",Arkansas,5,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,1445536,1460374,...,1541272,1561948,1565142,1569249,1587414,1610805,1629497,1640411,1657511,1673743
590,"""06000""",California,8,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,18432865,18852334,...,19642444,19986021,20666908,21319995,21997098,22687196,23164907,23538609,24086110,24602061
708,"""08000""",Colorado,7,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,2732491,2808435,...,3143637,3204078,3262925,3356175,3467519,3574243,3667987,3759409,3855474,3949744
826,"""09000""",Connecticut,1,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,2036825,2070018,...,2171933,2206269,2223221,2246561,2266029,2288113,2300038,2300325,2316626,2331726
944,"""10000""",Delaware,2,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,476426,491018,...,522400,530400,534261,544797,556517,568952,578698,584834,597228,606694
1062,"""11000""",District of Columbia,2,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,698434,711478,...,809137,826761,834413,848226,860669,873232,891545,902759,914060,923009
1180,"""12000""",Florida,5,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,8317201,8577884,...,9805154,10036634,10249024,10539255,10937166,11367160,11673482,12085322,12547585,12857048
1298,"""13000""",Georgia,5,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,4607959,4728750,...,5211352,5325616,5384572,5496783,5670735,5832585,5971967,6124558,6284607,6418752
1416,"""15000""",Hawaii,8,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,738175,738111,...,824460,835012,849156,868122,882732,901121,913087,919341,927336,932230
1534,"""16000""",Idaho,7,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,732684,747188,...,868718,878541,883148,902866,925519,949506,976764,1007546,1040434,1071664
1652,"""17000""",Illinois,3,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,7139373,7218569,...,7251002,7376100,7434661,7503158,7613484,7748868,7799138,7817318,7880969,7962884
1770,"""18000""",Indiana,3,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,3543278,3596542,...,3525335,3590196,3642334,3684125,3740428,3796419,3847689,3901788,3960510,4006907
1888,"""19000""",Iowa,4,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,1877486,1896080,...,1950444,1975960,1993430,2019480,2038926,2059837,2066316,2062038,2075928,2093635
2006,"""20000""",Kansas,4,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,1723552,1740420,...,1801873,1819044,1841393,1869054,1895859,1910954,1916428,1913506,1926040,1945791
2124,"""21000""",Kentucky,5,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,2223896,2264164,...,2325921,2368202,2389363,2407562,2440072,2473915,2498847,2519631,2544758,2572457
2242,"""22000""",Louisiana,5,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,2336386,2352801,...,2536560,2564944,2601174,2641657,2684755,2696590,2690820,2695724,2727693,2745180
2360,"""23000""",Maine,1,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,748614,762975,...,791331,794389,796903,803641,810868,816552,826669,834691,844922,856302
2478,"""24000""",Maryland,2,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,2935441,3007654,...,3345423,3394831,3438880,3493921,3537654,3602936,3655889,3692575,3751324,3803930
2596,"""25000""",Massachusetts,1,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,3896096,3962492,...,4115539,4175311,4253327,4353568,4447626,4631417,4709906,4778377,4854274,4936751
2714,"""26000""",Michigan,3,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,5383530,5485654,...,5038194,5165348,5234473,5323762,5412041,5501549,5575625,5630538,5713384,5772831
2832,"""27000""",Minnesota,4,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,3189396,3256931,...,3408753,3469201,3505578,3556487,3603717,3662852,3698285,3735455,3776390,3819497
2950,"""28000""",Mississippi,5,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,1445429,1469707,...,1490731,1509941,1519719,1532583,1556753,1568218,1579873,1589961,1601728,1617430
3068,"""29000""",Missouri,4,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,3385244,3422953,...,3475301,3506571,3528129,3565922,3596751,3655804,3700663,3735898,3776360,3821914
3186,"""30000""",Montana,7,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,535785,543115,...,616344,623175,633135,641917,648873,660524,667815,674336,683974,695247
3304,"""31000""",Nebraska,4,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,1138369,1156816,...,1219802,1232457,1251258,1266477,1282745,1302833,1310866,1317550,1329836,1342465
3422,"""32000""",Nevada,8,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,1131237,1189071,...,1478054,1501839,1519198,1561388,1608494,1664658,1725136,1779792,1847969,1902080
3540,"""33000""",New Hampshire,1,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,743341,760763,...,813707,818789,824361,835032,844499,860657,873134,882286,892389,904939
3658,"""34000""",New Jersey,2,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,4500635,4571128,...,4960621,5018505,5053839,5132846,5206784,5303122,5391330,5448478,5549186,5635957
3776,"""35000""",New Mexico,6,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,937525,942297,...,1059977,1064267,1067211,1075465,1083772,1092255,1092500,1095372,1110785,1130618
3894,"""36000""",New York,2,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,9901394,10164527,...,11005742,11294064,11432840,11619137,11865518,12099185,12259144,12389041,12651360,12873579
4012,"""37000""",North Carolina,5,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,4708195,4802414,...,5178363,5292814,5356443,5437125,5568662,5695035,5829015,5922721,6056769,6188601
4130,"""38000""",North Dakota,4,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,434930,435651,...,503813,529779,567388,587398,606989,597642,576908,573075,578315,586904
4248,"""39000""",Ohio,3,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,6599132,6681355,...,6418162,6521658,6605931,6680769,6771468,6862127,6931860,6988155,7065741,7142330
4366,"""40000""",Oklahoma,6,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,1938705,1953349,...,2130128,2158874,2211773,2248291,2272885,2287598,2286701,2290660,2310659,2336794
4484,"""41000""",Oregon,8,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,2021755,2051144,...,2174324,2201553,2219899,2259714,2323122,2391112,2450362,2516074,2570026,2619624
4602,"""42000""",Pennsylvania,2,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,6657699,6764360,...,7119776,7217098,7284519,7350854,7434313,7510351,7593966,7663502,7765629,7873779
4720,"""44000""",Rhode Island,1,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,554761,566528,...,586363,591692,592978,602429,613133,627028,632521,637946,648015,656527
4838,"""45000""",South Carolina,5,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,2191440,2240690,...,2357627,2427409,2453282,2500792,2564448,2636738,2700035,2760166,2846388,2901536
4956,"""46000""",South Dakota,4,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,490715,501684,...,558135,566480,574966,581384,589296,592591,597414,601300,609555,617232
5074,"""47000""",Tennessee,5,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,3339584,3397301,...,3515804,3589041,3635195,3688630,3772332,3859507,3951095,4032836,4118341,4205777
5192,"""48000""",Texas,6,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,11541749,11761409,...,14262558,14681432,15095912,15529989,16000512,16414591,16685139,17102707,17605335,18024338
5310,"""49000""",Utah,7,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,1309652,1338175,...,1620799,1664426,1706060,1753371,1803953,1865926,1933422,1993340,2068131,2127017
5428,"""50000""",Vermont,1,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,381006,389726,...,413312,416949,421809,425029,428938,432508,433924,436223,437913,441120
5546,"""51000""",Virginia,5,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,4167798,4261127,...,4743189,4802678,4856886,4898765,4953354,5060290,5142712,5218115,5311110,5407314
5664,"""53000""",Washington,8,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,3382924,3446900,...,3771444,3814305,3909210,3991724,4094309,4199112,4310119,4429973,4542520,4647252
5782,"""54000""",West Virginia,5,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,868370,868236,...,899472,909035,918927,913619,911516,904242,890105,888888,897415,895190
5900,"""55000""",Wisconsin,3,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,3287793,3350388,...,3426438,3474418,3499405,3539937,3585838,3624584,3658030,3679343,3720997,3753460
6018,"""56000""",Wyoming,7,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,310043,315198,...,385059,390303,396704,400402,406343,406033,398271,398915,404465,412765
6136,"""91000""",New England,1,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,8360643,8512502,...,8892185,9003399,9112599,9266260,9411093,9656275,9776192,9869848,9994139,10127365
6254,"""92000""",Mideast,2,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,25170029,25710165,...,27763099,28281659,28578752,28989781,29461455,29957778,30370572,30681189,31228787,31716948
6372,"""93000""",Great Lakes,3,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,25953106,26332508,...,25659131,26127720,26416804,26731751,27123259,27533547,27812342,28017142,28341601,28638412
6490,"""94000""",Plains,4,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,12239692,12410535,...,12918121,13099492,13262142,13446202,13614283,13782513,13866880,13938822,14072424,14227438
6608,"""95000""",Southeast,5,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,38013686,38801665,...,42065743,42886195,43433405,44149358,45199079,46292536,47177244,48127593,49285402,50218768
6726,"""96000""",Southwest,6,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,17034267,17352947,...,20634234,21143618,21670433,22224964,22805342,23342071,23710276,24229699,24880400,25461097
6844,"""97000""",Rocky Mountain,7,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,5620655,5752111,...,6634557,6760523,6881972,7054731,7252207,7456232,7644259,7833546,8052478,8256437
6962,"""98000""",Far West,8,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,26089122,26658867,...,28334630,28789094,29623593,30462053,31367082,32304848,33021135,33639261,34428969,35163035