In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import requests
from pprint import pprint
from pybea.client import BureauEconomicAnalysisClient
import datapungibea as dpb
from datetime import datetime
bls_key = 'a221097743424e50a9640418bcff10bb'

#initialize the new Client
data =dpb.data('165CE351-F1E7-4289-966F-C6002ACBD851')
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [2]:
saemp69 = pd.read_csv('SAEMP25S__ALL_AREAS_1969_2001.csv')
saemp98 = pd.read_csv('SAEMP25N__ALL_AREAS_1998_2019.csv')

In [3]:
saemp69.Description.value_counts()

    Home furniture and furnishings stores          60
   Transportation and public utilities             60
    Communications                                 60
     Security and commodity brokers                60
   Services                                        60
    Nonmetallic minerals, except fuels             60
     Lumber and wood products                      60
  Private nonfarm employment                       60
   Finance, insurance, and real estate             60
    Trucking and warehousing                       60
    Special trade contractors                      60
    Health services                                60
     Pipelines, except natural gas                 60
    Motion pictures                                60
    Coal mining                                    60
     Other transportation equipment                60
    Automotive repair, services, and parking       60
  Nonfarm proprietors employment 2/                60
     Transportation services                       60
 Nonfarm employment                                60
    Membership organizations                       60
   Wholesale trade                                 60
   State and local                                 60
    General building contractors                   60
    Depository and nondepository institutions      60
    Miscellaneous retail                           60
    Other transportation                           60
    Nondurable goods manufacturing                 60
    Local government                               60
     Food and kindred products                     60
     Chemicals and allied products                 60
     Petroleum and coal products                   60
     Textile mill products                         60
     Stone, clay, and glass products               60
    Business services                              60
    Durable goods manufacturing                    60
 Proprietors employment                            60
     Industrial machinery and equipment            60
    Eating and drinking places                     60
  Government and government enterprises            60
     Miscellaneous manufacturing industries        60
    Water transportation                           60
     Forestry                                      60
     Insurance agents, brokers, and services       60
   Federal civilian                                60
     Fabricated metal products                     60
    Other finance, insurance, and real estate      60
   Mining                                          60
     Insurance carriers                            60
    Social services 5/                             60
    Miscellaneous repair services                  60
    Railroad transportation                        60
     Transportation by air                         60
    Museums, botanical, zoological gardens         60
     Electronic and other electric equipment       60
  Farm proprietors employment                      60
    Amusement and recreation services              60
    General merchandise stores                     60
    Engineering and management services 6/         60
     Fishing                                       60
     Instruments and related products              60
     Motor vehicles and equipment                  60
    Electric, gas, and sanitary services           60
     Rubber and miscellaneous plastics products    60
     Apparel and other textile products            60
    Heavy construction contractors                 60
     Leather and leather products                  60
    Apparel and accessory stores                   60
    State government                               60
    Hotels and other lodging places                60
    Automotive dealers and service stations        60
     Local and interurban passenger transit        60
    Miscellaneous services                         60
 Wage and salary employment                        60
    Legal services                                 60
    Agricultural services                          60
   Manufacturing                                   60
    Metal mining                                   60
Total employment (number of jobs)                  60
    Oil and gas extraction                         60
     Combined real estate, insurance, etc. 4/      60
     Printing and publishing                       60
 Farm employment                                   60
     Real estate                                   60
    Personal services                              60
     Ordnance 3/                                   60
     Paper and allied products                     60
   Retail trade                                    60
    Forestry and fishing                           60
   Construction                                    60
    Building materials and garden equipment        60
     Primary metal industries                      60
     Holding and other investment offices          60
   Military                                        60
    Private households                             60
     Furniture and fixtures                        60
    Educational services                           60
   Agricultural services, forestry, and fishing    60
    Food stores                                    60
     Tobacco products                              60
Name: Description, dtype: int64

In [4]:
saemp98.iloc[0:20,:]

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,"""00000""",United States,,SAEMP25N,10.0,...,Total employment (number of jobs),Number of jobs,158481200,161531300,165370800,165522200,165095100,165921500,168839700,172338400,175868600,179543700,179213900,173636700,172901700,176091700,178979700,182325100,186233800,190325800,193378900,196337100,200284200,203809500
1,"""00000""",United States,,SAEMP25N,20.0,...,Wage and salary employment,Number of jobs,131920000,134766000,137610000,137334000,136301000,135967000,137404000,139341000,141660000,143170000,142584000,136242000,135393000,136918000,139619000,141932000,144722000,147641000,149913000,151892000,154365000,156445000
2,"""00000""",United States,,SAEMP25N,40.0,...,Proprietors employment,Number of jobs,26561200,26765300,27760800,28188200,28794100,29954500,31435700,32997400,34208600,36373700,36629900,37394700,37508700,39173700,39360700,40393100,41511800,42684800,43465900,44445100,45919200,47364500
3,"""00000""",United States,,SAEMP25N,50.0,...,Farm proprietors employment,Number of jobs,2249000,2237000,2224000,2190000,2032000,1953000,1894000,1875000,1827000,1914000,1897000,1884000,1882000,1876000,1844000,1856000,1840000,1834000,1824000,1803000,1792000,1787000
4,"""00000""",United States,,SAEMP25N,60.0,...,Nonfarm proprietors employment 2/,Number of jobs,24312200,24528300,25536800,25998200,26762100,28001500,29541700,31122400,32381600,34459700,34732900,35510700,35626700,37297700,37516700,38537100,39671800,40850800,41641900,42642100,44127200,45577500
5,"""00000""",United States,,SAEMP25N,70.0,111-112,Farm employment,Number of jobs,3129000,3150000,3117000,3063000,2904000,2838000,2719000,2656000,2579000,2665000,2629000,2624000,2636000,2639000,2623000,2645000,2643000,2651000,2644000,2622000,2605000,2601000
6,"""00000""",United States,,SAEMP25N,80.0,...,Nonfarm employment,Number of jobs,155352200,158381300,162253800,162459200,162191100,163083500,166120700,169682400,173289600,176878700,176584900,171012700,170265700,173452700,176356700,179680100,183590800,187674800,190734900,193715100,197679200,201208500
7,"""00000""",United States,,SAEMP25N,90.0,113-814,Private nonfarm employment,Number of jobs,133210200,135940300,139316800,139308200,138616100,139408500,142403700,145860400,149302600,152648700,151995900,146330700,145593700,149162700,152252700,155625100,159535800,163525800,166424900,169284100,173122200,176472500
8,"""00000""",United States,,SAEMP25N,100.0,113-115,"Forestry, fishing, and related activities",Number of jobs,927100,894100,851400,801500,842700,785300,811500,829400,825500,846600,861200,832400,852400,856600,885400,909100,941000,917900,936200,940300,961100,984100
9,"""00000""",United States,,SAEMP25N,101.0,113,Forestry and logging,Number of jobs,168100,168700,153300,148400,144600,133800,140100,147300,142700,138100,136900,119800,111600,116800,134600,138000,133000,141300,138800,123900,126300,119900
10,"""00000""",United States,,SAEMP25N,102.0,114,"Fishing, hunting and trapping",Number of jobs,134700,125000,120300,105900,121800,97300,109300,108500,107800,104400,104700,101000,105600,97800,99000,104000,104800,94900,100200,95900,99200,101400
11,"""00000""",United States,,SAEMP25N,103.0,115,Support activities for agriculture and for...,Number of jobs,624300,600400,577800,547200,576300,554200,562100,573600,575000,604100,619600,611600,635200,642000,651800,667100,703200,681700,697200,720500,735600,762800
12,"""00000""",United States,,SAEMP25N,200.0,21,"Mining, quarrying, and oil and gas extraction",Number of jobs,829000,787200,757000,808400,748000,800200,779400,833600,930200,1012300,1213200,1126600,1269000,1244000,1551200,1607000,1597500,1553300,1452200,1320900,1179500,1127100
13,"""00000""",United States,,SAEMP25N,201.0,211,Oil and gas extraction,Number of jobs,361900,349900,325500,356000,325300,371200,336800,361200,403100,414800,575600,579000,695800,605100,787900,876300,839900,873700,886000,685300,543800,507000
14,"""00000""",United States,,SAEMP25N,202.0,212,Mining (except oil and gas),Number of jobs,273400,261500,248400,250900,231700,227200,228600,232200,242900,264600,263600,241600,248500,257700,306600,275700,267700,264600,252200,271400,246500,234300
15,"""00000""",United States,,SAEMP25N,203.0,213,Support activities for mining,Number of jobs,193700,175800,183100,201500,191000,201800,214000,240200,284200,332900,374000,306000,324700,381200,456700,455000,489900,415000,314000,364200,389200,385800
16,"""00000""",United States,,SAEMP25N,300.0,22,Utilities,Number of jobs,625900,622000,621800,615800,599600,583200,575400,569900,570700,580600,597300,589800,582200,575500,577600,578300,580600,597400,622000,590800,590700,577800
17,"""00000""",United States,,SAEMP25N,400.0,23,Construction,Number of jobs,8888800,9245300,9540300,9816700,9668800,9900300,10337600,10965800,11413900,11400000,10769800,9424900,8770700,8744800,8933800,9237800,9564300,9844900,10322100,10558000,10987800,11282500
18,"""00000""",United States,,SAEMP25N,401.0,236,Construction of buildings,Number of jobs,2006800,2135000,2209800,2275800,2302500,2222800,2314200,2488500,2601500,2541700,2400300,2065700,1920200,1847000,1929500,1994300,2077100,2266900,2320700,2355400,2482400,2550600
19,"""00000""",United States,,SAEMP25N,402.0,237,Heavy and civil engineering construction,Number of jobs,956200,1008100,1044800,1069100,1077600,1058100,1066100,1111800,1175100,1203300,1154900,1038000,977300,981600,1025000,1037000,1069800,1076600,1119200,1163800,1216300,1260300

In [5]:
sn = 'LNS12000000'
yearX = 1948
yearY = 1967

payload = {'seriesid':sn,
          'startyear':yearX,
          'endyear':yearY,
          'registrationkey':bls_key}
#url = f'https://api.bls.gov/publicAPI/v2/timeseries/data/json?registrationkey={bls_key}&seriesid={sn}&startyear={yearX}&endyear={yearY}'
url = f'https://api.bls.gov/publicAPI/v2/timeseries/data/json?{payload}'
response = requests.post(url,payload).json()

In [6]:
df=pd.DataFrame(response)

ValueError: Mixing dicts with non-Series may lead to ambiguous ordering.

In [7]:
df_48_67 = pd.DataFrame(response['Results']['series'][0]['data'])

In [8]:
df_48_67

,year,period,periodName,value,footnotes,calculations
0,1967,M12,December,75473,[{}],"{'net_changes': {'1': '348', '3': '619', '6': ..."
1,1967,M11,November,75125,[{}],"{'net_changes': {'1': '74', '3': '358', '6': '..."
2,1967,M10,October,75051,[{}],"{'net_changes': {'1': '197', '3': '531', '6': ..."
3,1967,M09,September,74854,[{}],"{'net_changes': {'1': '87', '3': '576', '6': '..."
4,1967,M08,August,74767,[{}],"{'net_changes': {'1': '247', '3': '923', '6': ..."
5,1967,M07,July,74520,[{}],"{'net_changes': {'1': '242', '3': '638', '6': ..."
6,1967,M06,June,74278,[{}],"{'net_changes': {'1': '434', '3': '839', '6': ..."
7,1967,M05,May,73844,[{}],"{'net_changes': {'1': '-38', '3': '238', '6': ..."
8,1967,M04,April,73882,[{}],"{'net_changes': {'1': '443', '3': '211', '6': ..."
9,1967,M03,March,73439,[{}],"{'net_changes': {'1': '-167', '3': '-290', '6'..."
10,1967,M02,February,73606,[{}],"{'net_changes': {'1': '-65', '3': '-234', '6':..."
11,1967,M01,January,73671,[{}],"{'net_changes': {'1': '-58', '3': '270', '6': ..."
12,1966,M12,December,73729,[{}],"{'net_changes': {'1': '-111', '3': '471', '6':..."
13,1966,M11,November,73840,[{}],"{'net_changes': {'1': '439', '3': '694', '6': ..."
14,1966,M10,October,73401,[{}],"{'net_changes': {'1': '143', '3': '541', '6': ..."
15,1966,M09,September,73258,[{}],"{'net_changes': {'1': '112', '3': '483', '6': ..."
16,1966,M08,August,73146,[{}],"{'net_changes': {'1': '286', '3': '649', '6': ..."
17,1966,M07,July,72860,[{}],"{'net_changes': {'1': '85', '3': '350', '6': '..."
18,1966,M06,June,72775,[{}],"{'net_changes': {'1': '278', '3': '587', '6': ..."
19,1966,M05,May,72497,[{}],"{'net_changes': {'1': '-13', '3': '363', '6': ..."
20,1966,M04,April,72510,[{}],"{'net_changes': {'1': '322', '3': '312', '6': ..."
21,1966,M03,March,72188,[{}],"{'net_changes': {'1': '54', '3': '126', '6': '..."
22,1966,M02,February,72134,[{}],"{'net_changes': {'1': '-64', '3': '410', '6': ..."
23,1966,M01,January,72198,[{}],"{'net_changes': {'1': '136', '3': '503', '6': ..."
24,1965,M12,December,72062,[{}],"{'net_changes': {'1': '338', '3': '776', '6': ..."
25,1965,M11,November,71724,[{}],"{'net_changes': {'1': '29', '3': '362', '6': '..."
26,1965,M10,October,71695,[{}],"{'net_changes': {'1': '409', '3': '235', '6': ..."
27,1965,M09,September,71286,[{}],"{'net_changes': {'1': '-76', '3': '261', '6': ..."
28,1965,M08,August,71362,[{}],"{'net_changes': {'1': '-98', '3': '328', '6': ..."
29,1965,M07,July,71460,[{}],"{'net_changes': {'1': '435', '3': '827', '6': ..."
30,1965,M06,June,71025,[{}],"{'net_changes': {'1': '-9', '3': '586', '6': '..."
31,1965,M05,May,71034,[{}],"{'net_changes': {'1': '401', '3': '907', '6': ..."
32,1965,M04,April,70633,[{}],"{'net_changes': {'1': '194', '3': '636', '6': ..."
33,1965,M03,March,70439,[{}],"{'net_changes': {'1': '312', '3': '625', '6': ..."
34,1965,M02,February,70127,[{}],"{'net_changes': {'1': '130', '3': '392', '6': ..."
35,1965,M01,January,69997,[{}],"{'net_changes': {'1': '183', '3': '415', '6': ..."
36,1964,M12,December,69814,[{}],"{'net_changes': {'1': '79', '3': '236', '6': '..."
37,1964,M11,November,69735,[{}],"{'net_changes': {'1': '153', '3': '272', '6': ..."
38,1964,M10,October,69582,[{}],"{'net_changes': {'1': '4', '3': '183', '6': '2..."
39,1964,M09,September,69578,[{}],"{'net_changes': {'1': '115', '3': '360', '6': ..."
40,1964,M08,August,69463,[{}],"{'net_changes': {'1': '64', '3': '-168', '6': ..."
41,1964,M07,July,69399,[{}],"{'net_changes': {'1': '181', '3': '43', '6': '..."
42,1964,M06,June,69218,[{}],"{'net_changes': {'1': '-413', '3': '455', '6':..."
43,1964,M05,May,69631,[{}],"{'net_changes': {'1': '275', '3': '880', '6': ..."
44,1964,M04,April,69356,[{}],"{'net_changes': {'1': '593', '3': '1029', '6':..."
45,1964,M03,March,68763,[{}],"{'net_changes': {'1': '12', '3': '550', '6': '..."
46,1964,M02,February,68751,[{}],"{'net_changes': {'1': '424', '3': '484', '6': ..."
47,1964,M01,January,68327,[{}],"{'net_changes': {'1': '114', '3': '33', '6': '..."
48,1963,M12,December,68213,[{}],"{'net_changes': {'1': '-54', '3': '39', '6': '..."
49,1963,M11,November,68267,[{}],"{'net_changes': {'1': '-27', '3': '359', '6': ..."
50,1963,M10,October,68294,[{}],"{'net_changes': {'1': '120', '3': '389', '6': ..."
51,1963,M09,September,68174,[{}],"{'net_changes': {'1': '266', '3': '525', '6': ..."
52,1963,M08,August,67908,[{}],"{'net_changes': {'1': '3', '3': '293', '6': '8..."
53,1963,M07,July,67905,[{}],"{'net_changes': {'1': '256', '3': '263', '6': ..."
54,1963,M06,June,67649,[{}],"{'net_changes': {'1': '34', '3': '298', '6': '..."
55,1963,M05,May,67615,[{}],"{'net_changes': {'1': '-27', '3': '591', '6': ..."
56,1963,M04,April,67642,[{}],"{'net_changes': {'1': '291', '3': '570', '6': ..."
57,1963,M03,March,67351,[{}],"{'net_changes': {'1': '327', '3': '404', '6': ..."
58,1963,M02,February,67024,[{}],"{'net_changes': {'1': '-48', '3': '177', '6': ..."
59,1963,M01,January,67072,[{}],"{'net_changes': {'1': '125', '3': '-42', '6': ..."
60,1962,M12,December,66947,[{}],"{'net_changes': {'1': '100', '3': '-245', '6':..."
61,1962,M11,November,66847,[{}],"{'net_changes': {'1': '-267', '3': '-121', '6'..."
62,1962,M10,October,67114,[{}],"{'net_changes': {'1': '-78', '3': '631', '6': ..."
63,1962,M09,September,67192,[{}],"{'net_changes': {'1': '224', '3': '522', '6': ..."
64,1962,M08,August,66968,[{}],"{'net_changes': {'1': '485', '3': '280', '6': ..."
65,1962,M07,July,66483,[{}],"{'net_changes': {'1': '-187', '3': '111', '6':..."
66,1962,M06,June,66670,[{}],"{'net_changes': {'1': '-18', '3': '177', '6': ..."
67,1962,M05,May,66688,[{}],"{'net_changes': {'1': '316', '3': '150', '6': ..."
68,1962,M04,April,66372,[{}],"{'net_changes': {'1': '-121', '3': '264', '6':..."
69,1962,M03,March,66493,[{}],"{'net_changes': {'1': '-45', '3': '593', '6': ..."
70,1962,M02,February,66538,[{}],"{'net_changes': {'1': '430', '3': '457', '6': ..."
71,1962,M01,January,66108,[{}],"{'net_changes': {'1': '208', '3': '189', '6': ..."
72,1961,M12,December,65900,[{}],"{'net_changes': {'1': '-181', '3': '359', '6':..."
73,1961,M11,November,66081,[{}],"{'net_changes': {'1': '162', '3': '229', '6': ..."
74,1961,M10,October,65919,[{}],"{'net_changes': {'1': '378', '3': '311', '6': ..."
75,1961,M09,September,65541,[{}],"{'net_changes': {'1': '-311', '3': '-452', '6'..."
76,1961,M08,August,65852,[{}],"{'net_changes': {'1': '244', '3': '403', '6': ..."
77,1961,M07,July,65608,[{}],"{'net_changes': {'1': '-385', '3': '234', '6':..."
78,1961,M06,June,65993,[{}],"{'net_changes': {'1': '544', '3': '143', '6': ..."
79,1961,M05,May,65449,[{}],"{'net_changes': {'1': '75', '3': '-139', '6': ..."
80,1961,M04,April,65374,[{}],"{'net_changes': {'1': '-476', '3': '-402', '6'..."
81,1961,M03,March,65850,[{}],"{'net_changes': {'1': '262', '3': '72', '6': '..."
82,1961,M02,February,65588,[{}],"{'net_changes': {'1': '-188', '3': '-521', '6'..."
83,1961,M01,January,65776,[{}],"{'net_changes': {'1': '-2', '3': '144', '6': '..."
84,1960,M12,December,65778,[{}],"{'net_changes': {'1': '-331', '3': '-489', '6'..."
85,1960,M11,November,66109,[{}],"{'net_changes': {'1': '477', '3': '214', '6': ..."
86,1960,M10,October,65632,[{}],"{'net_changes': {'1': '-635', '3': '-277', '6'..."
87,1960,M09,September,66267,[{}],"{'net_changes': {'1': '372', '3': '99', '6': '..."
88,1960,M08,August,65895,[{}],"{'net_changes': {'1': '-14', '3': '-162', '6':..."
89,1960,M07,July,65909,[{}],"{'net_changes': {'1': '-259', '3': '-50', '6':..."
90,1960,M06,June,66168,[{}],"{'net_changes': {'1': '111', '3': '1495', '6':..."
91,1960,M05,May,66057,[{}],"{'net_changes': {'1': '98', '3': '437', '6': '..."
92,1960,M04,April,65959,[{}],"{'net_changes': {'1': '1286', '3': '612', '6':..."
93,1960,M03,March,64673,[{}],"{'net_changes': {'1': '-947', '3': '-668', '6'..."
94,1960,M02,February,65620,[{}],"{'net_changes': {'1': '273', '3': '1090', '6':..."
95,1960,M01,January,65347,[{}],"{'net_changes': {'1': '6', '3': '436', '6': '3..."
96,1959,M12,December,65341,[{}],"{'net_changes': {'1': '811', '3': '571', '6': ..."
97,1959,M11,November,64530,[{}],"{'net_changes': {'1': '-381', '3': '-314', '6'..."
98,1959,M10,October,64911,[{}],"{'net_changes': {'1': '141', '3': '-100', '6':..."
99,1959,M09,September,64770,[{}],"{'net_changes': {'1': '-74', '3': '-79', '6': ..."
100,1959,M08,August,64844,[{}],"{'net_changes': {'1': '-167', '3': '145', '6':..."
101,1959,M07,July,65011,[{}],"{'net_changes': {'1': '162', '3': '243', '6': ..."
102,1959,M06,June,64849,[{}],"{'net_changes': {'1': '150', '3': '582', '6': ..."
103,1959,M05,May,64699,[{}],"{'net_changes': {'1': '-69', '3': '1015', '6':..."
104,1959,M04,April,64768,[{}],"{'net_changes': {'1': '501', '3': '900', '6': ..."
105,1959,M03,March,64267,[{}],"{'net_changes': {'1': '583', '3': '718', '6': ..."
106,1959,M02,February,63684,[{}],"{'net_changes': {'1': '-184', '3': '214', '6':..."
107,1959,M01,January,63868,[{}],"{'net_changes': {'1': '319', '3': '393', '6': ..."
108,1958,M12,December,63549,[{}],"{'net_changes': {'1': '79', '3': '368', '6': '..."
109,1958,M11,November,63470,[{}],"{'net_changes': {'1': '-5', '3': '458', '6': '..."
110,1958,M10,October,63475,[{}],"{'net_changes': {'1': '294', '3': '730', '6': ..."
111,1958,M09,September,63181,[{}],"{'net_changes': {'1': '169', '3': '451', '6': ..."
112,1958,M08,August,63012,[{}],"{'net_changes': {'1': '267', '3': '138', '6': ..."
113,1958,M07,July,62745,[{}],"{'net_changes': {'1': '15', '3': '114', '6': '..."
114,1958,M06,June,62730,[{}],"{'net_changes': {'1': '-144', '3': '-1', '6': ..."
115,1958,M05,May,62874,[{}],"{'net_changes': {'1': '243', '3': '-24', '6': ..."
116,1958,M04,April,62631,[{}],"{'net_changes': {'1': '-100', '3': '-589', '6'..."
117,1958,M03,March,62731,[{}],"{'net_changes': {'1': '-167', '3': '-1191', '6..."
118,1958,M02,February,62898,[{}],"{'net_changes': {'1': '-322', '3': '-771', '6'..."
119,1958,M01,January,63220,[{}],"{'net_changes': {'1': '-702', '3': '-826', '6'..."
120,1957,M12,December,63922,[{}],"{'net_changes': {'1': '253', '3': '-199', '6':..."
121,1957,M11,November,63669,[{}],"{'net_changes': {'1': '-377', '3': '-290', '6'..."
122,1957,M10,October,64046,[{}],"{'net_changes': {'1': '-75', '3': '-494', '6':..."
123,1957,M09,September,64121,[{}],"{'net_changes': {'1': '162', '3': '-75', '6': ..."
124,1957,M08,August,63959,[{}],"{'net_changes': {'1': '-581', '3': '-26', '6':..."
125,1957,M07,July,64540,[{}],"{'net_changes': {'1': '344', '3': '493', '6': ..."
126,1957,M06,June,64196,[{}],"{'net_changes': {'1': '211', '3': '-208', '6':..."
127,1957,M05,May,63985,[{}],"{'net_changes': {'1': '-62', '3': '-272', '6':..."
128,1957,M04,April,64047,[{}],"{'net_changes': {'1': '-357', '3': '415', '6':..."
129,1957,M03,March,64404,[{}],"{'net_changes': {'1': '147', '3': '494', '6': ..."
130,1957,M02,February,64257,[{}],"{'net_changes': {'1': '625', '3': '461', '6': ..."
131,1957,M01,January,63632,[{}],"{'net_changes': {'1': '-278', '3': '-343', '6'..."
132,1956,M12,December,63910,[{}],"{'net_changes': {'1': '114', '3': '-169', '6':..."
133,1956,M11,November,63796,[{}],"{'net_changes': {'1': '-179', '3': '-176', '6'..."
134,1956,M10,October,63975,[{}],"{'net_changes': {'1': '-104', '3': '175', '6':..."
135,1956,M09,September,64079,[{}],"{'net_changes': {'1': '107', '3': '259', '6': ..."
136,1956,M08,August,63972,[{}],"{'net_changes': {'1': '172', '3': '111', '6': ..."
137,1956,M07,July,63800,[{}],"{'net_changes': {'1': '-20', '3': '186', '6': ..."
138,1956,M06,June,63820,[{}],"{'net_changes': {'1': '-41', '3': '409', '6': ..."
139,1956,M05,May,63861,[{}],"{'net_changes': {'1': '247', '3': '343', '6': ..."
140,1956,M04,April,63614,[{}],"{'net_changes': {'1': '203', '3': '-139', '6':..."
141,1956,M03,March,63411,[{}],"{'net_changes': {'1': '-107', '3': '-273', '6'..."
142,1956,M02,February,63518,[{}],"{'net_changes': {'1': '-235', '3': '261', '6':..."
143,1956,M01,January,63753,[{}],"{'net_changes': {'1': '69', '3': '762', '6': '..."
144,1955,M12,December,63684,[{}],"{'net_changes': {'1': '427', '3': '734', '6': ..."
145,1955,M11,November,63257,[{}],"{'net_changes': {'1': '266', '3': '460', '6': ..."
146,1955,M10,October,62991,[{}],"{'net_changes': {'1': '41', '3': '478', '6': '..."
147,1955,M09,September,62950,[{}],"{'net_changes': {'1': '153', '3': '1169', '6':..."
148,1955,M08,August,62797,[{}],"{'net_changes': {'1': '284', '3': '1163', '6':..."
149,1955,M07,July,62513,[{}],"{'net_changes': {'1': '732', '3': '998', '6': ..."
150,1955,M06,June,61781,[{}],"{'net_changes': {'1': '147', '3': '817', '6': ..."
151,1955,M05,May,61634,[{}],"{'net_changes': {'1': '119', '3': '907', '6': ..."
152,1955,M04,April,61515,[{}],"{'net_changes': {'1': '551', '3': '762', '6': ..."
153,1955,M03,March,60964,[{}],"{'net_changes': {'1': '237', '3': '848', '6': ..."
154,1955,M02,February,60727,[{}],"{'net_changes': {'1': '-26', '3': '370', '6': ..."
155,1955,M01,January,60753,[{}],"{'net_changes': {'1': '637', '3': '483', '6': ..."
156,1954,M12,December,60116,[{}],"{'net_changes': {'1': '-241', '3': '-166', '6'..."
157,1954,M11,November,60357,[{}],"{'net_changes': {'1': '87', '3': '504', '6': '..."
158,1954,M10,October,60270,[{}],"{'net_changes': {'1': '-12', '3': '627', '6': ..."
159,1954,M09,September,60282,[{}],"{'net_changes': {'1': '429', '3': '490', '6': ..."
160,1954,M08,August,59853,[{}],"{'net_changes': {'1': '210', '3': '-55', '6': ..."
161,1954,M07,July,59643,[{}],"{'net_changes': {'1': '-149', '3': '-542', '6'..."
162,1954,M06,June,59792,[{}],"{'net_changes': {'1': '-116', '3': '-394', '6'..."
163,1954,M05,May,59908,[{}],"{'net_changes': {'1': '-277', '3': '-755', '6'..."
164,1954,M04,April,60185,[{}],"{'net_changes': {'1': '-1', '3': '161', '6': '..."
165,1954,M03,March,60186,[{}],"{'net_changes': {'1': '-477', '3': '209', '6':..."
166,1954,M02,February,60663,[{}],"{'net_changes': {'1': '639', '3': '-75', '6': ..."
167,1954,M01,January,60024,[{}],"{'net_changes': {'1': '47', '3': '-869', '6': ..."
168,1953,M12,December,59977,[{}],"{'net_changes': {'1': '-761', '3': '-929', '6'..."
169,1953,M11,November,60738,[{}],"{'net_changes': {'1': '-155', '3': '-413', '6'..."
170,1953,M10,October,60893,[{}],"{'net_changes': {'1': '-13', '3': '-504', '6':..."
171,1953,M09,September,60906,[{}],"{'net_changes': {'1': '-245', '3': '-550', '6'..."
172,1953,M08,August,61151,[{}],"{'net_changes': {'1': '-246', '3': '132', '6':..."
173,1953,M07,July,61397,[{}],"{'net_changes': {'1': '-59', '3': '-47', '6': ..."
174,1953,M06,June,61456,[{}],"{'net_changes': {'1': '437', '3': '-554', '6':..."
175,1953,M05,May,61019,[{}],"{'net_changes': {'1': '-425', '3': '-865', '6'..."
176,1953,M04,April,61444,[{}],"{'net_changes': {'1': '-566', '3': '-156', '6'..."
177,1953,M03,March,62010,[{}],"{'net_changes': {'1': '126', '3': '1056', '6':..."
178,1953,M02,February,61884,[{}],"{'net_changes': {'1': '284', '3': '1136', '6':..."
179,1953,M01,January,61600,[{}],"{'net_changes': {'1': '646', '3': '1468', '6':..."
180,1952,M12,December,60954,[{}],"{'net_changes': {'1': '206', '3': '433', '6': ..."
181,1952,M11,November,60748,[{}],"{'net_changes': {'1': '616', '3': '958', '6': ..."
182,1952,M10,October,60132,[{}],"{'net_changes': {'1': '-389', '3': '161', '6':..."
183,1952,M09,September,60521,[{}],"{'net_changes': {'1': '731', '3': '302', '6': ..."
184,1952,M08,August,59790,[{}],"{'net_changes': {'1': '-181', '3': '-405', '6'..."
185,1952,M07,July,59971,[{}],"{'net_changes': {'1': '-248', '3': '62', '6': ..."
186,1952,M06,June,60219,[{}],"{'net_changes': {'1': '24', '3': '311', '6': '..."
187,1952,M05,May,60195,[{}],"{'net_changes': {'1': '286', '3': '-267', '6':..."
188,1952,M04,April,59909,[{}],"{'net_changes': {'1': '1', '3': '-551', '6': '..."
189,1952,M03,March,59908,[{}],"{'net_changes': {'1': '-554', '3': '-589', '6'..."
190,1952,M02,February,60462,[{}],"{'net_changes': {'1': '2', '3': '626', '6': '4..."
191,1952,M01,January,60460,[{}],"{'net_changes': {'1': '-37', '3': '450', '6': ..."
192,1951,M12,December,60497,[{}],"{'net_changes': {'1': '661', '3': '784', '6': ..."
193,1951,M11,November,59836,[{}],"{'net_changes': {'1': '-174', '3': '-158', '6'..."
194,1951,M10,October,60010,[{}],"{'net_changes': {'1': '297', '3': '-146', '6':..."
195,1951,M09,September,59713,[{}],"{'net_changes': {'1': '-281', '3': '93', '6': ..."
196,1951,M08,August,59994,[{}],"{'net_changes': {'1': '-162', '3': '-194', '6'..."
197,1951,M07,July,60156,[{}],"{'net_changes': {'1': '536', '3': '267', '6': ..."
198,1951,M06,June,59620,[{}],"{'net_changes': {'1': '-568', '3': '-781', '6'..."
199,1951,M05,May,60188,[{}],"{'net_changes': {'1': '299', '3': '527', '6': ..."
200,1951,M04,April,59889,[{}],"{'net_changes': {'1': '-512', '3': '253', '6':..."
201,1951,M03,March,60401,[{}],"{'net_changes': {'1': '740', '3': '972', '6': ..."
202,1951,M02,February,59661,[{}],"{'net_changes': {'1': '25', '3': '-36', '6': '..."
203,1951,M01,January,59636,[{}],"{'net_changes': {'1': '207', '3': '-167', '6':..."
204,1950,M12,December,59429,[{}],"{'net_changes': {'1': '-268', '3': '-146', '6'..."
205,1950,M11,November,59697,[{}],"{'net_changes': {'1': '-106', '3': '-100', '6'..."
206,1950,M10,October,59803,[{}],"{'net_changes': {'1': '228', '3': '802', '6': ..."
207,1950,M09,September,59575,[{}],"{'net_changes': {'1': '-222', '3': '523', '6':..."
208,1950,M08,August,59797,[{}],"{'net_changes': {'1': '796', '3': '1148', '6':..."
209,1950,M07,July,59001,[{}],"{'net_changes': {'1': '-51', '3': '418', '6': ..."
210,1950,M06,June,59052,[{}],"{'net_changes': {'1': '403', '3': '1324', '6':..."
211,1950,M05,May,58649,[{}],"{'net_changes': {'1': '66', '3': '898', '6': '..."
212,1950,M04,April,58583,[{}],"{'net_changes': {'1': '855', '3': '948', '6': ..."
213,1950,M03,March,57728,[{}],"{'net_changes': {'1': '-23', '3': '-117', '6':..."
214,1950,M02,February,57751,[{}],"{'net_changes': {'1': '116', '3': '-258', '6':..."
215,1950,M01,January,57635,[{}],"{'net_changes': {'1': '-210', '3': '366', '6':..."
216,1949,M12,December,57845,[{}],"{'net_changes': {'1': '-164', '3': '261', '6':..."
217,1949,M11,November,58009,[{}],"{'net_changes': {'1': '740', '3': '612', '6': ..."
218,1949,M10,October,57269,[{}],"{'net_changes': {'1': '-315', '3': '79', '6': ..."
219,1949,M09,September,57584,[{}],"{'net_changes': {'1': '187', '3': '412', '6': ..."
220,1949,M08,August,57397,[{}],"{'net_changes': {'1': '207', '3': '-155', '6':..."
221,1949,M07,July,57190,[{}],"{'net_changes': {'1': '18', '3': '-557', '6': ..."
222,1949,M06,June,57172,[{}],"{'net_changes': {'1': '-380', '3': '-871', '6'..."
223,1949,M05,May,57552,[{}],"{'net_changes': {'1': '-195', '3': '-656', '6'..."
224,1949,M04,April,57747,[{}],"{'net_changes': {'1': '-296', '3': '-428', '6'..."
225,1949,M03,March,58043,[{}],"{'net_changes': {'1': '-165', '3': '-697', '6'..."
226,1949,M02,February,58208,[{}],"{'net_changes': {'1': '33', '3': '-209', '6': ..."
227,1949,M01,January,58175,[{}],"{'net_changes': {'1': '-565', '3': '-212', '6'..."
228,1948,M12,December,58740,[{}],"{'net_changes': {'1': '323', '3': '227', '6': ..."
229,1948,M11,November,58417,[{}],"{'net_changes': {'1': '30', '3': '-39', '6': '..."
230,1948,M10,October,58387,[{}],"{'net_changes': {'1': '-126', '3': '-581', '6'..."
231,1948,M09,September,58513,[{}],"{'net_changes': {'1': '57', '3': '-230', '6': ..."
232,1948,M08,August,58456,[{}],"{'net_changes': {'1': '-512', '3': '602', '6':..."
233,1948,M07,July,58968,[{}],"{'net_changes': {'1': '225', '3': '677', '6': ..."
234,1948,M06,June,58743,[{}],"{'net_changes': {'1': '889', '3': '1072'}, 'pc..."
235,1948,M05,May,57854,[{}],"{'net_changes': {'1': '-437', '3': '-342'}, 'p..."
236,1948,M04,April,58291,[{}],"{'net_changes': {'1': '620', '3': '230'}, 'pct..."
237,1948,M03,March,57671,[{}],"{'net_changes': {'1': '-525'}, 'pct_changes': ..."
238,1948,M02,February,58196,[{}],"{'net_changes': {'1': '135'}, 'pct_changes': {..."
239,1948,M01,January,58061,[{}],NaN

In [10]:
df_08_20=df_08_20[['year','period','periodName','value']]
df_08_20

NameError: name 'df_08_20' is not defined

In [11]:
df_88_07 = df_88_07[['year','period','periodName','value']]
df_88_07

NameError: name 'df_88_07' is not defined

In [12]:
df_68_87 =df_68_87[['year','period','periodName','value']]
df_68_87

NameError: name 'df_68_87' is not defined

In [13]:
df_48_67 = df_48_67[['year','period','periodName','value']]
df_48_67

     year period periodName  value
0    1967    M12   December  75473
1    1967    M11   November  75125
2    1967    M10    October  75051
3    1967    M09  September  74854
4    1967    M08     August  74767
5    1967    M07       July  74520
6    1967    M06       June  74278
7    1967    M05        May  73844
8    1967    M04      April  73882
9    1967    M03      March  73439
10   1967    M02   February  73606
11   1967    M01    January  73671
12   1966    M12   December  73729
13   1966    M11   November  73840
14   1966    M10    October  73401
15   1966    M09  September  73258
16   1966    M08     August  73146
17   1966    M07       July  72860
18   1966    M06       June  72775
19   1966    M05        May  72497
20   1966    M04      April  72510
21   1966    M03      March  72188
22   1966    M02   February  72134
23   1966    M01    January  72198
24   1965    M12   December  72062
25   1965    M11   November  71724
26   1965    M10    October  71695
27   1965    M09  September  71286
28   1965    M08     August  71362
29   1965    M07       July  71460
30   1965    M06       June  71025
31   1965    M05        May  71034
32   1965    M04      April  70633
33   1965    M03      March  70439
34   1965    M02   February  70127
35   1965    M01    January  69997
36   1964    M12   December  69814
37   1964    M11   November  69735
38   1964    M10    October  69582
39   1964    M09  September  69578
40   1964    M08     August  69463
41   1964    M07       July  69399
42   1964    M06       June  69218
43   1964    M05        May  69631
44   1964    M04      April  69356
45   1964    M03      March  68763
46   1964    M02   February  68751
47   1964    M01    January  68327
48   1963    M12   December  68213
49   1963    M11   November  68267
50   1963    M10    October  68294
51   1963    M09  September  68174
52   1963    M08     August  67908
53   1963    M07       July  67905
54   1963    M06       June  67649
55   1963    M05        May  67615
56   1963    M04      April  67642
57   1963    M03      March  67351
58   1963    M02   February  67024
59   1963    M01    January  67072
60   1962    M12   December  66947
61   1962    M11   November  66847
62   1962    M10    October  67114
63   1962    M09  September  67192
64   1962    M08     August  66968
65   1962    M07       July  66483
66   1962    M06       June  66670
67   1962    M05        May  66688
68   1962    M04      April  66372
69   1962    M03      March  66493
70   1962    M02   February  66538
71   1962    M01    January  66108
72   1961    M12   December  65900
73   1961    M11   November  66081
74   1961    M10    October  65919
75   1961    M09  September  65541
76   1961    M08     August  65852
77   1961    M07       July  65608
78   1961    M06       June  65993
79   1961    M05        May  65449
80   1961    M04      April  65374
81   1961    M03      March  65850
82   1961    M02   February  65588
83   1961    M01    January  65776
84   1960    M12   December  65778
85   1960    M11   November  66109
86   1960    M10    October  65632
87   1960    M09  September  66267
88   1960    M08     August  65895
89   1960    M07       July  65909
90   1960    M06       June  66168
91   1960    M05        May  66057
92   1960    M04      April  65959
93   1960    M03      March  64673
94   1960    M02   February  65620
95   1960    M01    January  65347
96   1959    M12   December  65341
97   1959    M11   November  64530
98   1959    M10    October  64911
99   1959    M09  September  64770
100  1959    M08     August  64844
101  1959    M07       July  65011
102  1959    M06       June  64849
103  1959    M05        May  64699
104  1959    M04      April  64768
105  1959    M03      March  64267
106  1959    M02   February  63684
107  1959    M01    January  63868
108  1958    M12   December  63549
109  1958    M11   November  63470
110  1958    M10    October  63475
111  1958    M09  September  63181
112  1958    M08     August  63012
113  1958    M07       July  62745
114  1958    M06       June  62730
115  1958    M05        May  62874
116  1958    M04      April  62631
117  1958    M03      March  62731
118  1958    M02   February  62898
119  1958    M01    January  63220
120  1957    M12   December  63922
121  1957    M11   November  63669
122  1957    M10    October  64046
123  1957    M09  September  64121
124  1957    M08     August  63959
125  1957    M07       July  64540
126  1957    M06       June  64196
127  1957    M05        May  63985
128  1957    M04      April  64047
129  1957    M03      March  64404
130  1957    M02   February  64257
131  1957    M01    January  63632
132  1956    M12   December  63910
133  1956    M11   November  63796
134  1956    M10    October  63975
135  1956    M09  September  64079
136  1956    M08     August  63972
137  1956    M07       July  63800
138  1956    M06       June  63820
139  1956    M05        May  63861
140  1956    M04      April  63614
141  1956    M03      March  63411
142  1956    M02   February  63518
143  1956    M01    January  63753
144  1955    M12   December  63684
145  1955    M11   November  63257
146  1955    M10    October  62991
147  1955    M09  September  62950
148  1955    M08     August  62797
149  1955    M07       July  62513
150  1955    M06       June  61781
151  1955    M05        May  61634
152  1955    M04      April  61515
153  1955    M03      March  60964
154  1955    M02   February  60727
155  1955    M01    January  60753
156  1954    M12   December  60116
157  1954    M11   November  60357
158  1954    M10    October  60270
159  1954    M09  September  60282
160  1954    M08     August  59853
161  1954    M07       July  59643
162  1954    M06       June  59792
163  1954    M05        May  59908
164  1954    M04      April  60185
165  1954    M03      March  60186
166  1954    M02   February  60663
167  1954    M01    January  60024
168  1953    M12   December  59977
169  1953    M11   November  60738
170  1953    M10    October  60893
171  1953    M09  September  60906
172  1953    M08     August  61151
173  1953    M07       July  61397
174  1953    M06       June  61456
175  1953    M05        May  61019
176  1953    M04      April  61444
177  1953    M03      March  62010
178  1953    M02   February  61884
179  1953    M01    January  61600
180  1952    M12   December  60954
181  1952    M11   November  60748
182  1952    M10    October  60132
183  1952    M09  September  60521
184  1952    M08     August  59790
185  1952    M07       July  59971
186  1952    M06       June  60219
187  1952    M05        May  60195
188  1952    M04      April  59909
189  1952    M03      March  59908
190  1952    M02   February  60462
191  1952    M01    January  60460
192  1951    M12   December  60497
193  1951    M11   November  59836
194  1951    M10    October  60010
195  1951    M09  September  59713
196  1951    M08     August  59994
197  1951    M07       July  60156
198  1951    M06       June  59620
199  1951    M05        May  60188
200  1951    M04      April  59889
201  1951    M03      March  60401
202  1951    M02   February  59661
203  1951    M01    January  59636
204  1950    M12   December  59429
205  1950    M11   November  59697
206  1950    M10    October  59803
207  1950    M09  September  59575
208  1950    M08     August  59797
209  1950    M07       July  59001
210  1950    M06       June  59052
211  1950    M05        May  58649
212  1950    M04      April  58583
213  1950    M03      March  57728
214  1950    M02   February  57751
215  1950    M01    January  57635
216  1949    M12   December  57845
217  1949    M11   November  58009
218  1949    M10    October  57269
219  1949    M09  September  57584
220  1949    M08     August  57397
221  1949    M07       July  57190
222  1949    M06       June  57172
223  1949    M05        May  57552
224  1949    M04      April  57747
225  1949    M03      March  58043
226  1949    M02   February  58208
227  1949    M01    January  58175
228  1948    M12   December  58740
229  1948    M11   November  58417
230  1948    M10    October  58387
231  1948    M09  September  58513
232  1948    M08     August  58456
233  1948    M07       July  58968
234  1948    M06       June  58743
235  1948    M05        May  57854
236  1948    M04      April  58291
237  1948    M03      March  57671
238  1948    M02   February  58196
239  1948    M01    January  58061

In [14]:
combined_bls_data = pd.concat([df_08_20,df_88_07,df_68_87,df_48_67])
combined_bls_data = combined_bls_data.sort_values(by = ['year','period'])

NameError: name 'df_08_20' is not defined

In [15]:
# fig, ax = plt.subplots( figsize = (10,10))
# ax.plot(combined_bls_data.year,combined_bls_data.value)
# ax.set_xticks([]);

In [16]:
combined_bls_data[['year','value']].plot()

NameError: name 'combined_bls_data' is not defined