In [1]:
# Dependencies and Setup
import pandas as pd
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

###### Minimum wage data from 
* https://www.kaggle.com/lislejoem/us-minimum-wage-by-state-from-1968-to-2017
* https://www.dol.gov/agencies/whd/state/minimum-wage/history

The values in the dataset are as follows:
* Year: The year of the data.
* State: The state or territory of the data.
* Table_Data: The scraped value from the source.
* Footnote: The footnote associated with the Table_Data. See more below in the dataset description. You can alternatively find them at the bottom of the US Department of Labor's page.
* High.Value: As there were some values in Table_Data that had multiple values (usually associated with footnotes), this is the higher of the two values in the table. It could be useful for viewing the proposed minimum wage, because in most cases, the higher value meant that all persons protected under minimum wage laws eventually had minimum wage set at that value.
* Low.Value: This is the same as High.Value, but has the lower of the two values. This could be useful for viewing the effective minimum wage at the year of setting the minimum wage, as peoples protected under such minimum wage laws made that value during that year (although, in most cases, they had a higher minimum wage after that year).
* CPI.Average: This is the Consumer Price Index associated with that year. It was used to calculate 2018-equivalent values.
* High.2018: This is the 2018-equivalent dollars for High.Value.
* Low.2018: This is the 2018-equivalent dollars for Low.Value.

In [2]:
# plot function that taking in a DataFrame, x_axis, y_axist and scatter plot
def plot_df_scatter2(df, x_axis, y_axis, y1_axis, y2_axis, State):
    fig = plt.figure(figsize=(8,15))
    ax1 = fig.add_subplot(411)
    ax2 = fig.add_subplot(412)
    ax3 = fig.add_subplot(413)
    ax4 = fig.add_subplot(414)
    
    title = f'{x_axis} vs {y_axis} and {y1_axis} for {State}'
    
    ax1.scatter(df[x_axis], df[y_axis], alpha=0.5, edgecolors='g')
    ax1.set(ylabel = y_axis,
           title = title)
    ax2.scatter( df[x_axis], df[y1_axis], alpha=0.5, edgecolors='b')
    ax2.set(ylabel = y1_axis)
    
    ax3.scatter(df[x_axis], df[y1_axis]/df[y_axis],color='y')  
    ax3.set(ylabel = f'{y1_axis}/{y_axis}')
    
    ax4.scatter(df[x_axis],df[y2_axis], color='r')
    ax4.set(ylabel=y2_axis)
    
    plt.savefig(f'Kosal_Resources\MinimumWage_plot\{title}.png')

In [3]:
min_wage_path = "Minimum_wage_data.csv"
min_wage_df = pd.read_csv(min_wage_path,encoding='iso-8859-1')
min_wage_df

,Year,State,Table_Data,Footnote,High.Value,Low.Value,CPI.Average,High.2018,Low.2018
0,1968,Alabama,...,NaN,0.00000,0.00000,34.783333,0.00,0.00
1,1968,Alaska,2.10,NaN,2.10000,2.10000,34.783333,15.12,15.12
2,1968,Arizona,18.72 - 26.40/wk(b),(b),0.66000,0.46800,34.783333,4.75,3.37
3,1968,Arkansas,1.25/day(b),(b),0.15625,0.15625,34.783333,1.12,1.12
4,1968,California,1.65(b),(b),1.65000,1.65000,34.783333,11.88,11.88
...,...,...,...,...,...,...,...,...,...
2745,2017,Virginia,7.25[c],[c],7.25000,7.25000,245.119583,7.41,7.41
2746,2017,Washington,11.00,NaN,11.00000,11.00000,245.119583,11.24,11.24
2747,2017,West Virginia,8.75,NaN,8.75000,8.75000,245.119583,8.94,8.94
2748,2017,Wisconsin,7.25,NaN,7.25000,7.25000,245.119583,7.41,7.41
2749,2017,Wyoming,5.15,NaN,5.15000,5.15000,245.119583,5.26,5.26

In [4]:
# min_wage_df=min_wage_df['High.Value'].astype(float)
# min_wage_df=min_wage_df['Low.Value'].astype(float)
# # min_wage_df=min_wage_df['CPI.Average'].astype(float)
# # min_wage_df=min_wage_df['High.2018'].astype(float)
# # min_wage_df=min_wage_df['Low.2018'].astype(float)

In [6]:
min_wage_df.to_csv('mini_wage_data.csv',encoding='utf-8-sig')

In [7]:
# copy DataFrame for 
wage_data = min_wage_df.copy()

In [8]:
len(wage_data)

2750

In [9]:
# # # copy DataFrame for 
# # wage_data = min_wage_df.copy()
# # wage_data = wage_data.dropna()

# # Print out the plot
# state_list = list(wage_data['State'].unique())

# for state in state_list:
#     df = wage_data[wage_data['State']==state]
#     plot_df_scatter2(df=df, x_axis='Year',y_axis='High.Value', y1_axis='CPI.Average', y2_axis='High.2018', State=state)